<link rel="stylesheet" href="assets/css/animations.css">
<link rel="stylesheet" href="assets/css/custom-sa.css">
<link rel="stylesheet" href="assets/css/sahil-hover.css">
<link rel="stylesheet" href="assets/css/home-responsive.css">
<link rel="stylesheet" href="assets/css/useCase.css">
<link rel="stylesheet" href="assets/css/animated-masonry-gallery.css" type="text/css" />
<link rel="stylesheet" href="assets/css/useCase-responsive.css">

    <nav class="navbar custom-navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="params navbar-brand" routerLink="" (click)="setTitle0()">
                    <img src="https://dzvexx2x036l1.cloudfront.net/logo.png" alt="logo" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="navlist">
                    <li>
                        <a routerLink="why-interactive"  (click)="setTitle1()" class="params">Why Interactive Content ?</a>
                    </li>
                    <li>
                        <a routerLink="features"  (click)="setTitle2()"  class="params">Features</a>
                    </li>
                    <li>
                        <a routerLink="pricing"  (click)="setTitle3()" class="params">Pricing</a>
                    </li>
                    <li>
                        <a routerLink="examples"  (click)="setTitle4()" class="params">Examples</a>
                    </li>
                    <li class="login">
                        <a href="//app.outgrow.co/login" class="link-login params" >Login</a>
                    </li>
                    <li class="signUp signUp-style res-nav-hide">
                        <a href="//app.outgrow.co/signup" class="link-login params">Sign up</a>
                    </li>
                    <li class="signUp res-nav-show">
                        <a href="//app.outgrow.co/signup" class="link-login params">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
