

<div class="container-fluid text-center">
    <div class="row" style="background-color:#ec5b6a">
            <div class="col-lg-4"></div>
            <div>
                <br><br><br><br><br>
                <h2 style = "color : white"> Because Customers want to be helped. <br>Not Sold To.</h2>
                <br>
            </div>
        </div>
        <div class="row" style="background-color:#ec5b6a">
            <div class="col-md-4"></div>
            <div class="col-lg-3">
            <img src="./assets/images/why-interactive.jpg"  alt="outgrow" width="510" heigth="150">
            <br><br><br> <br><br><br>
            </div>     
        </div>

        <br><br>
</div>


<div class="container text-left">
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="div">
                <p style="color: #ec5b6a; font-size:40px">Calculators & quizes : </p>    
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="div">
                <p style="color: #ec5b6a; font-size:40px">The Next Big Thing in Marketing </p>    
        </div>
    </div>
   
<br><br>
    <div class="row">
        <div class="col-lg-2">
            <br><br><br>
            <p class = "text-dark-grey2">ADD REAL VALUE   </p>
            <br><br><br><br>
            <p class = "text-dark-grey2">CONVERSION RATES   </p>
            <br><br><br>
            <p class = "text-dark-grey2">Traffic   </p>
            <br><br><br>         
            <p class = "text-dark-grey2">DATA   </p>
            
        </div>

        <div class="vl2"></div>

        <div class="col-lg-3">
            <p class = "text-dark-grey1">CALCULATORS</p>
            <br>
            <p><i class="fa fa-check-circle fa-2x" aria-hidden="true"  style = "color: #ec5b6a"></i></p><p class = "text-grey">Answer your customers most pressing questions.</p>
            <br>
            <small style="color: #ec5b6a; font-size : 20px; font-weight:500;">HIGH</small> <br><p class = "text-grey"> Interactivity enhances conversion to over 40-50%.</p>
            <br>
            <small style="color: #ec5b6a; font-size : 20px; font-weight:500;">INHERENTLY VIRAL</small> <br> <p class = "text-grey">Personalized responses encourage sharing</p>
            <br>
            <small style="color: #ec5b6a; font-size : 20px; font-weight:500;">RICH</small> <br><p class = "text-grey"> Rich responses can help make target sales.</p>
            
        </div>

        <div class="vl2"></div>

        <div class="col-lg-3">
            <p class = "text-dark-grey1">EBOOKS</p>
            <br>
         <p><i class="fa fa-ravelry fa-2x" aria-hidden="true"  style = "color: #ec5b6a"></i></p><p class = "text-grey"> Sure! But do people really have time to read.</p>
            <br>
            <small style="color: #ec5b6a; font-size : 20px; font-weight:500;">UNINSPIRING</small> <br> <p class = "text-grey">No instant gratification only allows for 10-20%.</p>
            <br>
            <small style="color: #ec5b6a; font-size : 20px; font-weight:500;">AVERAGE</small> <br><p class = "text-grey"> They can get shared. But viral? Probably not.</p>
            <br>
            <small style="color: #ec5b6a; font-size : 20px; font-weight:500;">LITTLE</small> <br><p class = "text-grey">You can't do much with an email and name.</p>
            
           
        </div>

        <div class="vl2"></div>

        <div class="col-lg-3">
            <p class = "text-dark-grey1">MARKETING PAGES</p>
            <br>
            <p><i class="fa fa-times fa-2x" aria-hidden="true" style = "color: #ec5b6a"></i></p><p class = "text-grey"> A marketing rant with click baits adds little value.</p>
            <br>
            <small style="color: #ec5b6a; font-size : 20px; font-weight:500;">EH!</small> <br> <p class = "text-grey"> You have to work hard to get 3-8%</p>
            <br><br>
            <small style="color: #ec5b6a; font-size : 20px; font-weight:500;">DEAD COLD</small> <br> <p class = "text-grey"> When was the last time you shared a landing page?</p>
            <br>
            <small style="color: #ec5b6a; font-size : 20px; font-weight:500;">LITTLE</small> <br><p class = "text-grey">  When did you last submit a real name, email?.</p>
            
        </div>
    </div>

</div> 

<div class="container text-left">
  <div class="row">
      
      <div class="col-lg-8">
          <br><br><br>
          <img src="./assets/images/card1.png" alt="" width="650px" height="400px">
      </div>
      
      <div class="col-lg-4 text-left">
          <br><br><br><br><br>
        <i class="fa fa-check-square fa-2x" style="color: #ec5b6a;" aria-hidden="true"></i>
          <p class="text1">CALCULATORS AND QUIZES ADD REAL VALUES</p>
          <p class="text2">Unlike pushy Marketing copy, they build trust by answering your customer's most pressing questions.</p>
      </div>
     
  </div>
  <br><br>


  <div class="row">
      <div class="col-lg-4">
          <br><br><br><br><br>
          <p><i class="fa fa-line-chart fa-2x" style="color: #ec5b6a;" aria-hidden="true"></i></p> <br>
          <p class="text1">OFFER IMMERSIVE ENGAGEMENT</p>
          <p class="text2">96% buyers don't convert on their first visit. But calculators offer heightened engagement that leaves a lasting impression.</p> <br>
          
      </div>

      <div class="col-lg-8">
          <br><br><br>
          <img src="./assets/images/card2.png" alt="" width="650px" height="400px">
      </div>
      
  </div>



  <div class="row">
      
      <div class="col-lg-7">
          <br><br>
          <img src="./assets/images/card3.png" alt="" width="600px" height="550px">
      </div>
      
      <div class="col-lg-5 text-left">
          <br><br><br><br><br>
          <p><i class="fa fa-opencart fa-2x" style="color: #ec5b6a;" aria-hidden="true"></i></p><br>
          <p class="text1">BRING REFERRAL TRAFFIC</p>
          <p class="text2">Calculators and Quizzes are inherently viral. Due to the personalization & instant gratification, users are more attuned to sharing them.</p>
      </div>
     
  </div>
  <br>


  <div class="row">
      <div class="col-lg-4">
          <br><br><br><br><br>
          <p><i class="fa fa-search fa-2x" style="color: #ec5b6a;"aria-hidden="true"></i></p><br>
          <p class="text1">"HOW MUCH DOES..?" IS A HOT TOPIC</p>
          <p class="text2">Millions of searches are made asking the "How much.." question. Calculators can help you get to the top of those search results.</p> <br>
          
      </div>
      <div class="col-lg-8">
          <br><br><br>
          <img src="./assets/images/card4.png" alt="" width="650px" height="400px">
      </div>
      
  </div>
  </div>
  <div class="container-fluid ">
    <br><br>
        <div class="row" style="background-color: #ec5b6a">
        <div class="col-lg-2"></div>
        <div class = "col-lg-8" >
        <p style="color:white; font-size:25px; font-weight:200"><sup style="color:white"><i class = "fa fa-quote-left fa-3x" aria-hidden="true"></i></sup>
         With bounce rates of < 12%, Google absolutely loves my calculators. Now, I have 2 calculators in top 5 search results and I couldn't be happier.</p>
        
        <p style="color:white; font-size:20px; font-weight:700">Simon Verkhovsky</p> 
        <p style="color:white; font-size:15px; font-weight:400;">VP OF MARKETING</p> <br>
        </div>
        <div class="col-lg-2"></div>
        </div>
        
    </div>

<div class="container text-left">
  <div class="row">
      
      <div class="col-lg-8">
          <br><br><br>
          <img src="./assets/images/card5.png" alt="" width="700px" height="450px">
      </div>
      
      <div class="col-lg-4 ">
          <br><br><br><br><br>
          <p><i class="fa fa-line-chart fa-2x" style="color: #ec5b6a;"aria-hidden="true"></i></p> <br>
          <p class="text1">ENGAGEMENT INCREASES CONVERSION</p>
          <p class="text2">The interactivity and the value add make visitors almost 3-4 times more likely to share their contact information..</p>
      </div>
     
  </div>
  <br>

  <div class="row">
      <div class="col-lg-3">
      <br><br><br>
      <p><i class="fa fa-align-justifyf a-2x" style="color: #ec5b6a;" aria-hidden="true"></i></p>
      <p class="text1">ENABLE TARGETED SALES</p>
      <p class="text2">Go beyond name and email with real, rich & useful data about your customers.</p> <br>
          
      </div>

      <div class="col-lg-9">
          <br><br><br>
          <img src="./assets/images/card6.png" alt="" width="800px" height="400px">
      </div>
      
  </div>
</div>