<div class="container">
  <div class="row">
    
    <div class="col-lg-12 " style="font-size:42px;color: #fb5f66;font-family:montserratlight - 400;text-align:center">
      <p >Frequently Asked Questions</p>
    </div>
  </div>
  <div id="faq">
    <div class="row" >
      <div class="col-md-6 thumbnail">
      What happens during and after the trial period?
    
          <div class="caption">
            When you sign up, you will be assigned to our Business Premium plan. You will have access to this plan for 7 days. Should you choose to continue with the business plan, you will have to add your payment method.
          </div>
      </div>
      <div class="col-md-6 thumbnail">
        How is my data handled?
    
          <div class="caption">
            Very very securely. We use AWS serves which is basically the gold standard in hosting. We use industry benchmarked encryption for all sensitive data and subscribe to all major security measures to safeguard your data.
          </div>
      </div>
      <div class="col-md-6 thumbnail">
        Any contracts or cancellation fees?
    
          <div class="caption">
            For our Starter and Business premium tiers, we do not really have any contracts that need signatures. We have a simple SaaS based pricing with simple terms of service. For Enterprise customers though, we have a Service agreement which outlines SLAs and payment schedules etc
          </div>
      </div>
      <div class="col-md-6 thumbnail">
        Can I get a test environment in case I do not want to publish my calculators?
    
          <div class="caption">
            When you use the builder, just make sure you do not click “Publish”. That way, the calculator will neither be made public nor will it get indexed in search engines. If you want to preview the calculator, just click on “Preview” to see your edits reflect.
          </div>
      </div>
      <div class="col-md-6 thumbnail">
        What are your billing cycles and payment options?
    
          <div class="caption">
            You have the option to pay monthly, quarterly or annually. Of course, we offer heavy discounts if you buy for a longer duration
          </div>
      </div>
      <div class="col-md-6 thumbnail">
        Can I white-label Outgrow’s tools?
    
          <div class="caption">
            Yes, you can. But we will have to have a discussion around how we can make that work. Feel free to email us at support@outgrow.co and we will see what we can do.
          </div>
      </div>
      <div class="col-md-6 thumbnail">
        Can I host on premises?
    
          <div class="caption">
            Yes, you can. Just email us at support@outgrow.co.
          </div>
      </div>
      <div class="col-md-6 thumbnail">
        Do you charge per lead?
          <div class="caption">
            No, we charge a flat price as per your membership tier
          </div>
      </div>
    
      <div class="col-md-6 thumbnail">
        Can you build my calculators for me?
    
          <div class="caption">
            Our DIY tool is pretty easy to use and learn, so you should be able to build your own calculators very very quickly. For our enterprise customers, we provide a 1 month onboarding where we help configure the first few calculators.
          </div>
      </div>
      <div class="col-md-6 thumbnail">
        Why should I upgrade?
          <div class="caption">
            Well, calculators are awesome. But they are more awesome when you can run effective lead generation programs, analyze the data about visitors, use your own branding and use some of our premium design templates.
          </div>
      </div>
      <div class="col-md-6 thumbnail">
        Can I really build as many calculators as I want?
    
          <div class="caption">
            Yes. We understand that you have tens if not hundreds of ideas and we want you to have unlimited creative space to bring your ideas to life.
          </div>
      </div>
      <div class="col-md-6 thumbnail">
        I am an agency. Anything special for me?
          <div class="caption">
            Sure. If you are an agency that works with multiple clients, we can figure out a mutually beneficial partnership. Feel free to email us at support@outgrow.co.
          </div>
      </div>
      <div class="col-md-6 thumbnail">
        Which integrations do you have?
          <div class="caption">
            We support over 1000 integrations using Zapier and our current list of native integrations includes: Marketo, Salesforce, Hubspot, Mailchimp, Slack, Campaign Monitor, Aweber, drip.co, Myemma, Get Response, Unbounce, Listrak, Sendlane, Zoho, Intercom, Facebook messenger, Pardot, Active Campaign.
          </div>
      </div>
    </div>
    </div>
</div>
