#faq{
    color:#8e989f;
    font-family: montserratlight - 400;
    font-weight: 400;
    font-size: 14px;
  }
  .thumbnail{
    margin-bottom: 18px;
    
  }
  .caption{
    margin-top: 5px;

  }