
<div class="container-fluid" style ="position:fixed; top:0; background-color:#fff; overflow:hidden; z-index:1;height:58px" id="header-effect">
  <nav class="navbar navbar-default navbar-fixed-top" >
  
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink=""><img src = "./assets/images/outgrow_icon.jpg" class="img-responsive" width = "168px" height="37px" ></a>
      </li>
      </ul>   
      <div class="toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="why-interactive">WHY INTERACTIVE CONTENT?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="features">FEATURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pricing">PRICING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="examples">EXAMPLES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="//app.outgrow.co/login">LOGIN</a>
      </li>
      <li class="nav-item" >
       <a href="//app.outgrow.co/signup" class ="btn-round">SIGN UP</a>
      </li>
    </ul>
    </nav>
</div>

<br><br><br><br><br>