<header id="header">
<nav class="navbar custom-navbar navbar-light navbar-expand-md bg-faded justify-content-center navbar-fixed-top">
  <!-- <a href="/" class="navbar-brand d-flex w-50 mr-auto">Brand</a> -->
  <a class="navbar-brand d-flex w-50 mr-auto" routerLink="" style="padding-top: 0%; padding-left:5px;"><img src = "//dzvexx2x036l1.cloudfront.net/logo.png" class="img-responsive"  style="height:auto;" ></a>
        
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link " id="headerTitle" routerLink="/why-interactive">WHY INTERACTIVE CONTENT?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="headerTitle" routerLink="/features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="headerTitle" routerLink="/pricing">PRICING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="headerTitle" routerLink="/examples">EXAMPLES</a>
          </li>
          <li class="nav-item" style="padding-top:13px">
            <a href="//app.outgrow.co/login" class="link-login params">Login</a>
          </li>
          <li class="nav-item signUp signUp-style res-nav-hide" style="padding-top:10px">
            <a href="//app.outgrow.co/signup" class="link-login params">Signup</a>
          </li>
          
      </ul>
  </div>
</nav>

</header>


