.nav-link{
    color : grey;
    padding-top: 0px;
}
 a:hover {
   color: #ec5b6a;
}

p{
    color: #ec5b6a;
    font-size : 30px;
}


h4{
    color: #ec5b6a;
    font-size : 23px;
}

.round{
border-radius: 50px;
background-color: #ec5b6a;
border: 2px solid #FB757B;
color:#fff;
font-size: 14px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 6px;
padding-right: 6px;
}

.btn-round a:link {
    text-decoration: none;
}

.btn-round a:visited {
    text-decoration: none;
    color:#fff;
}

.btn-round a:hover {
    text-decoration: none;
    color:#fff;
    border: 2px solid  #ec5b6a;

}
.btn-round a.active{
    text-decoration: none;
}

.toggle{
    width:100%;
    padding : 10px 20px;
    background: #fff;
    text-align:right;
    box-sizing : border-box;
    color: #ec5b6a;
    font-size : 25px;
    display:none;
}
@media (max-width:768px){
    .toogle{
        display:none;
    }
    ul{
        width:100%;
    }
    ul li{
        display: block;
        text-align: center;
    }
}

#header-effect {
    padding: 10px;
    box-shadow: 1px 3px 5px rgb(252, 247, 247);
}

