.custom-navbar .link-login {
    color: #fb6c73 !important;
    font-family: montserratbold
}
.custom-navbar .link-login:hover {
    background: 0 0;
    color: #fb5f66 !important;
    opacity: .5
}
.custom-navbar.navbar-default {
    background: #fff;
    border: none;
    padding: 0;
    z-index: 999;
    border-bottom: 1px solid #eff0f0;
    padding: 5px 0px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.custom-navbar.navbar-default .navbar-nav>li {
    margin-right: 20px
}
.custom-navbar.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    color: #62696d;
    text-transform: uppercase;
    line-height: 25px;
    background: none;
}
.custom-navbar.navbar-default .navbar-nav > li > a.active, .custom-navbar.navbar-default .navbar-nav > li >a:hover {
    color: #fb5f66;
    background: none;
}
.custom-navbar .btn-login {
    background: #fb5f66;
    color: #fff !important;
    text-transform: none !important;
    padding: 3px 30px;
    margin-top: 10px;
    border: 2px solid #fb5f66
}
.section, .section-1 {
    margin-top: 30px;
    float: left;
    width: 100%
}
.custom-navbar .btn-login:hover {
    border: 2px solid #fb5f66;
    background: 0 0;
    color: #fb5f66 !important
}
.custom-navbar .link-login {
    color: #fb6c73 !important;
    font-family: montserratbold
}
.custom-navbar .link-login:hover {
    background: 0 0;
    color: #fb5f66 !important;
    opacity: .5
}
.custom-navbar .signUp-style a{
    border-radius: 20px;
    background: #fb5f66 !important;
    color: #fff!important;
    padding: 6px 10px !important;
    line-height: 1 !important;
    font-size: 12px!important;
    border: 2px solid #f8434b !important;
    margin-top: 13px;
    margin-right: 20px;
}
.custom-navbar .signUp-style a:hover ,.custom-navbar .signUp-style a:focus{
    opacity: 1;
    background: #fb757b !important;
    color: #fff !important;
    border: 2px solid #f8434b !important;
}
.res-nav-show {
    display: none !important
}
.res-nav-hide {
    display: block !important
}

@media (min-width:768px){
    /*.navbar-toggle{display:none}
    .navbar-nav{float:left;margin:0}
    .navbar-nav>li{float:left}*/
    .navbar-nav>li>a{padding-top:15px;padding-bottom:15px;padding-left:13px;padding-right:13px}
}
    
    .menu-outer .navbar-nav.navbar-right>li {
        width: 100%;
        float: left;
        margin-right: 0;
        text-align: right
    }
    .menu-outer .navbar-nav {
        float: left !important;
        margin-right: 0
    }
    .menu-outer .navbar-nav.navbar-right>li>a {
        font-size: 16px;
        padding: 20px 15px;
        font-family: montserratregular
    }
    .navbar-brand {
        padding: 0;
        margin-left: 30px !important;
        padding-top: 8px;
    }
   
    a:focus, a:hover {
        text-decoration: none;
        color: inherit;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out
    }

    #headerTitle{
        font-size:14px;
        font-weight:600;
        color : rgb(97, 93, 93);
    }
    
    #headerTitle a:hover ,a:focus, button:focus, img:focus, input:focus, select:focus, textarea:focus{
        color: #fb5f66 !important;
        text-decoration: underline;
        outline: 0;
    }