<div class="container-fluid" style="position:fixed;top:0px;background-color:#ffff;overflow:hidden;z-index:1;" >
    <nav class="navbar navbar-expand-sm  navbar-light  navbar-top-fixed">

            <ul class="nav nav justify-content-end">
                    <li>
                        <a class="nav-link" routerLink="home"><img src = "./assets/images/outgrow_icon.jpg" class="img-responsive" width = "168px" height="37px" ></a>
                    </li>
                </ul>
         <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
       
            <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
            <ul  class="navbar-nav justify-content-end"  >
            <li class="nav-item" id="id1">
                <a class="nav-link " id="headerTitle" routerLink="/why-interactive">WHY INTERACTIVE CONTENT?</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " id="headerTitle" routerLink="/features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="headerTitle" routerLink="/pricing">PRICING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="headerTitle" routerLink="/examples">EXAMPLES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="headerTitle0" href="//app.outgrow.co/login">LOGIN</a>
            </li>
            <li class="nav-item">
                <a href="//app.outgrow.co/signup" class ="btn-round " id="headerTitle1">SIGN UP</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>