<div class="container" style="padding-left:125px;padding-right:125px;">
  <table class="table table-responsive table-hover" border="0">
    <thead>
      <tr>

        <td></td>
        <td>
          <tr data-toggle="collapse" id="rowFree" data-target=".rowFree">
            <td class="theadHead">FREELANCER</td>
          </tr>
          <tr class="collapse rowFree">
            <td>$45/mo</td>
          </tr>

          <tr>
            <td class="theadHead1">
              $45/mo
            </td>
          </tr>

          <tr>
            <td>
                <a href="https://app.outgrow.co/login"><button type="button" class="btn btn-danger">START TRAIL</button></a>
            </td>

          </tr>
        </td>

        <td>
            <tr data-toggle="collapse" id="rowFree" data-target=".rowFree">
                <td class="theadHead">ESSENTIIALS</td>
              </tr>
              <tr class="collapse rowFree">
                <td>$115/mo</td>
              </tr>
    
              <tr>
                <td class="theadHead1">
                  $115/mo
                </td>
              </tr>
    
              <tr>
                <td>
                    <a href="https://app.outgrow.co/login"><button type="button" class="btn btn-danger">START TRAIL</button></a>
                </td>
    
              </tr>
            </td>

        <td>
            <tr data-toggle="collapse" id="rowFree" data-target=".rowFree">
                <td class="theadHead">BUSINESS</td>
              </tr>
              <tr class="collapse rowFree">
                <td>$720/mo</td>
              </tr>
    
              <tr>
                <td class="theadHead1">
                  $720/mo
                </td>
              </tr>
    
              <tr>
                <td>
                    <a href="https://app.outgrow.co/login"><button type="button" class="btn btn-danger">START TRAIL</button></a>
                </td>
    
             
              </td>


      </tr>
    </thead>
    <tbody>
      <tr class="clickable parentHeadText" data-toggle="collapse" id="row0" data-target=".row1,.row2,.row3,.row4,.row5,.row6,.row7,.row8,.row9">
        <td>
          <i class="glyphicon glyphicon-plus"></i>Show Detailed Pricing</td>

      </tr>
      <tr class="parentText">
        <td class="col-md-3">&emsp;&emsp;&nbsp;Leads & Visits</td>
        <td class="col-md-3">
          <span class="quater"></span>300 & 6000</td>
        <td class="col-md-3">
          <span class="half"></span>1000 & 20000</td>
        <td class="col-md-3">
          <span class="full"></span>15000 & 300000</td>
      </tr>

      <tr class=" parentText">
        <td class="col-md-3 ">&emsp;&emsp;&nbsp;Templates and Layouts</td>
        <td class="col-md-3">
          <span class="quater"></span>3</td>
        <td class="col-md-3">
          <span class="full"></span>Unlimited</td>
        <td class="col-md-3">
          <span class="full"></span>Unlimited</td>
      </tr>

      <tr class="clickable parentText" data-toggle="collapse" id="row1" data-target=".row1">
        <td class="col-md-3" data-toggle="collapse" id="rowa" data-target=".rowa">
          <i class="glyphicon glyphicon-plus bye"></i>Templates and Layouts</td>

        <td class="col-md-3">
          <span class="quater"></span>Basic Templates & Layout</td>
        <td class="col-md-3">
          <span class="full"></span>All Templates & Layouts</td>
        <td class="col-md-3">
          <span class="full"></span>All Templates & Layouts</td>
      </tr>
      <tr class="collapse row1">
        <td class="col-md-3"></td>
        <td class="col-md-3 childText">Only the Classic "Chicago and Londoner" layout and templates.</td>
        <td class="col-md-3 childText">All layouts and templates are unlocked.</td>
        <td class="col-md-3 childText">All layouts and templates are unlocked.</td>
      </tr>



      <tr class="clickable parentText" data-toggle="collapse" id="row2" data-target=".row2">
        <td class="col-md-3">
          <i class="glyphicon glyphicon-plus"></i>Hosting and Embedding</td>
        <td class="col-md-3">
          <span class="half"></span>Embed Anywhere</td>
        <td class="col-md-3">
          <span class="half"></span>Embed Anywhere</td>
        <td class="col-md-3">
          <span class="full"></span>Custom Domain</td>
      </tr>
      <tr class="collapse row2">
        <td class="col-md-3"></td>
        <td class="col-md-3 childText">Experience hosted on Outgrow domain [yourcompany.outgrow.co] and can be embedded on any webpage.</td>
        <td class="col-md-3 childText">Experience hosted on Outgrow domain [yourcompany.outgrow.co] and can be embedded on any webpage.</td>
        <td class="col-md-3 childText">Experience hosted on your company domain [yourcompany.com] and can be embedded on any webpage</td>
      </tr>


      <tr class="clickable parentText" data-toggle="collapse" id="row3" data-target=".row3">
        <td class="col-md-3">
          <i class="glyphicon glyphicon-plus"></i>Charts and Graphs</td>
        <td class="col-md-3">
          <span class="none"></span>No Access</td>
        <td class="col-md-3">
          <span class="none"></span>No Access</td>
        <td class="col-md-3">
          <span class="full"></span>Full Access</td>
      </tr>
      <tr class="collapse row3">
        <td class="col-md-3"></td>
        <td class="col-md-3 childText"></td>
        <td class="col-md-3 childText"></td>
        <td class="col-md-3 childText">Increase interactivity by adding charts, graphs and tables to your experiences.</td>
      </tr>




      <tr class="clickable parentText" data-toggle="collapse" id="row4" data-target=".row4">
        <td class="col-md-3">
          <i class="glyphicon glyphicon-plus"></i>Custom Branding</td>
        <td class="col-md-3">
          <span class="quater"></span>Limited Access</td>
        <td class="col-md-3">
          <span class="quater"></span>Limited Access</td>
        <td class="col-md-3">
          <span class="full"></span>Full Access</td>
      </tr>
      <tr class="collapse row4">
        <td class="col-md-3"></td>
        <td class="col-md-3 childText">You can add your own logo and use your brand’s colors. A small discreet Outgrow logo will appear.</td>
        <td class="col-md-3 childText">You can add your own logo and use your brand’s colors. A small discreet Outgrow logo will appear.</td>
        <td class="col-md-3 childText">You can add your own logo and use your brand’s colors. You can also remove the Outgrow Logo.</td>
      </tr>




      <tr class="clickable parentText" data-toggle="collapse" id="row5" data-target=".row5">
        <td class="col-md-3">
          <i class="glyphicon glyphicon-plus"></i>Integrations</td>
        <td class="col-md-3">
          <span class="half"></span>Standard Integrations</td>
        <td class="col-md-3">
          <span class="half"></span>Standard Integrations</td>
        <td class="col-md-3">
          <span class="full"></span>Advanced Integrations</td>
      </tr>
      <tr class="collapse row5">
        <td class="col-md-3"></td>
        <td class="col-md-3 childText">You can sync user's contact information using Zapier or over 17 native integrations with tools like Marketo, Salesforce,
          MailChimp, Aweber, Hubspot, GetResponse, Intercom, Sendlane, Drip, Slack etc.</td>
        <td class="col-md-3 childText">You can sync user's contact information using Zapier or over 17 native integrations with tools like Marketo, Salesforce,
          MailChimp, Aweber, Hubspot, GetResponse, Intercom, Sendlane, Drip, Slack etc.</td>
        <td class="col-md-3 childText">Send all lead data using direct integrations, Zapier as well as Webhooks and our highly versatile API.</td>
      </tr>

      <tr class="clickable parentText" data-toggle="collapse" id="row6" data-target=".row6">
        <td class="col-md-3">
          <i class="glyphicon glyphicon-plus"></i>Formula and Logic Jump</td>
        <td class="col-md-3">
          <span class="quater"></span>Limited Access</td>
        <td class="col-md-3">
          <span class="full"></span>Full Access</td>
        <td class="col-md-3">
          <span class="full"></span>Full Access</td>
      </tr>
      <tr class="collapse row6">
        <td class="col-md-3"></td>
        <td class="col-md-3 childText">You can use basic mathematical operators like +,-, x and /. Logic jump is not included.</td>
        <td class="col-md-3 childText">You can use any mathematical (^, log etc) or logical (if then, average etc) operator as well as use visual logic
          jump [branching logic] to improve personalization.</td>
        <td class="col-md-3 childText">You can use any mathematical (^, log etc) or logical (if then, average etc) operator as well as use visual logic
          jump [branching logic] to improve personalization.</td>
      </tr>

      <tr class="clickable parentText" data-toggle="collapse" id="row7" data-target=".row7">
        <td class="col-md-3">
          <i class="glyphicon glyphicon-plus"></i>Analytics and Tracking</td>
        <td class="col-md-3">
          <span class="quater"></span>Limited Access</td>
        <td class="col-md-3">
          <span class="half"></span>Standard Access</td>
        <td class="col-md-3">
          <span class="full"></span>Advanced Access</td>
      </tr>
      <tr class="collapse row7">
        <td class="col-md-3"></td>
        <td class="col-md-3 childText">Only the Classic "Chicago and Londoner" layout and templates hello helo All layouts and templates are unlocked.All
          layouts and templates are unlocked..</td>
        <td class="col-md-3 childText">All layouts and templates are unlocked.</td>
        <td class="col-md-3 childText">All layouts and templates are unlocked.</td>
      </tr>

      <tr class="clickable parentText" data-toggle="collapse" id="row8" data-target=".row8">
        <td class="col-md-3">
          <i class="glyphicon glyphicon-plus"></i>Advanced Features</td>
        <td class="col-md-3">
          <span class="none"></span>No Access</td>
        <td class="col-md-3">
          <span class="quater"></span>Limited Access</td>
        <td class="col-md-3">
          <span class="full"></span>Advanced Access</td>
      </tr>
      <tr class="collapse row8">
        <td class="col-md-3"></td>
        <td class="col-md-3 childText"></td>
        <td class="col-md-3 childText">Access to conditional messaging.</td>
        <td class="col-md-3 childText">Access to conditional messaging, email embeds, email validation, custom HTML/CSS/JS and custom notifications.</td>
      </tr>



      <tr class="clickable parentText" data-toggle="collapse" id="row9" data-target=".row9">
        <td class="col-md-3">
          <i class="glyphicon glyphicon-plus"></i> Support</td>
        <td class="col-md-3">
          <span class="quater"></span>Support Docs</td>
        <td class="col-md-3">
          <span class="half"></span>Basic</td>
        <td class="col-md-3">
          <span class="full"></span>Priority</td>
      </tr>
      <tr class="collapse row9">
        <td class="col-md-3"></td>
        <td class="col-md-3 childText">You will have access to support docs.</td>
        <td class="col-md-3 childText">You will have access to support docs as well as email support. We will try to answer all queries within 24-48 hours.</td>
        <td class="col-md-3 childText">You will have access to support docs, email support as well as live chat.</td>
      </tr>
    </tbody>
  </table>
</div>





<div class="row">

  <div class="col-lg-12 head1">
    <b>
      <p>NEED ENTERPRISE GRADE FEATURES? CONTACT US.</p>
    </b>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6" style="background-color:#62696D;width:160px;height:200px">
    <div class="row">
      <br>
    </div>
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-8">
        <p style="color:white;font-size:19px;font-family:sans-serif">Enterprise Plan</p>
      </div>
    </div>

    <div class="row">

    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10">
        <p style="color:#b3b6b8;font-size:14px;font-family:sans-serif">Made especially for power users and agencies, this plan gives you full access with a dedicated account manager, API
          access and team training.</p>
      </div>
    </div>



    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-3">
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger">CONTACT US</button>
      </div>
    </div>


  </div>

</div>