
<div class="container-fluid text-center" style="background-color:#f4f8fb">
  <div class="col-lg-12" >
     <br> <br><br><br><br>
      <b><p style="font-size:40px">Boost Your Marketing with Highly Interactive Content</p></b>
  </div>
  <br>   
   <div class="col-lg-12">
       <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-1"><img src="./assets/images/icon1.png" > <br><small style="color:grey">Calculators</small></div>
          <div class="col-lg-1"><img src="./assets/images/icon2.png" > <br><small style="color:grey">Quizes</small> </div>
          <div class="col-lg-1"><img src="./assets/images/icon3.png" > <br><small style="color:grey">Assessment</small></div>
          <div class="col-lg-2"><img src="./assets/images/icon4.png" ><br><small style="color:grey">Recommandations</small> </div>
          <div class="col-lg-1"><img src="./assets/images/icon5.png" > <br><small style="color:grey">Polls</small></div>
      </div>
     <br><br>
      <input type="text" class = "search-box" placeholder = "Please enter your work email"> 
      <button  class = "start-trail">START FEE TRIAL</button>
  </div>


  <br><br>
  <div class="row" >
         <div class="col-lg-2">
             
         </div>
         <div class="col-lg-8 embed-responsive embed-responsive-21by9">
               
          <embed width="800" height="200"
          src="https://www.youtube.com/embed/PmN_MY5kNrE">
          
          
         </div>

         <div class="col-lg-2"></div>
     </div>
</div>     
  <!--Home First Card-->
    <div class="col-xs-12 col-sm-12 col-md-12  text-center"   style = "background-color: #f3f8fb">
        <div class="img-wrapper">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/adobe.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/datavail.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/statefarm.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/florida-capital-bank.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/catapult-system.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/mulesoft.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/radius.png" alt="">

            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/golf-avenue.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/abl.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/agl.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/the-offshore-group.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/canvas-medical.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/black-hawk.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/sm.png" alt="">

            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/currencyfair.png" alt="">
            <img style="vertical-align:middle" src="https://dzvexx2x036l1.cloudfront.net/winter-olympics.png" alt="">
            <img style="vertical-align:middle" src="http:///dzvexx2x036l1.cloudfront.net/clients-logos/pinpoint-software.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/temcoUK.png" alt="">
            <img style="vertical-align:middle" src="http://dzvexx2x036l1.cloudfront.net/clients-logos/ladder.png" alt="">

        </div>
    </div>


 <br><br>

 <!--Toolkit-->
 <div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div>
        <p>A New Marketing Toolkit</p>
    </div>
    
  </div>
    <div class="row">
        <div class="col-lg-2">
            <img src="./assets/images/p1.png" class="img-fluid" alt="" width="180px" height="150px">
        </div>
        <div class="col-lg-4">
        <b  class="toolkit">Boost Lead Generation</b><br>
        <small class="toolkit">Calculators & quizzes engage customers at a psychological level. This leads to record conversion rates of over 60% consistently!</small>
        </div>
        <div class="col-lg-2">
        <img src="./assets/images/p2.png" class="img-fluid" alt="" width="180px" height="150px">
        </div>
        <div class="col-lg-4">
        <b class="toolkit">Add Value</b><br>
        <small class="toolkit">Calculators give personalized answers to your customer’s most pressing questions about your industry.</small>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-2">
            <img src="/assets/images/p3.png" class="img-fluid" alt="" width="180px" height="150px">
        </div>
        <div class="col-lg-4">
        <b class="toolkit">Go Viral</b><br>
        <small class="toolkit">Quizzes and calculators tend to go viral. You reach a wider audience, your brand gets noticed, and your referral traffic shoots through the roof.</small>
        </div>
        <div class="col-lg-2">
        <img src="./assets/images/p4.png" class="img-fluid" alt="" width="180px" height="150px">
        </div>
        <div class="col-lg-4">
        <b class="toolkit">Extract Intelligent Analytics</b><br>
        <small class="toolkit">Which prospect is an Eagles fan? Who has more than 20 employees? Get customer insights without being pushy!</small>
        </div>
    </div>
    </div>
    
<br><br>
<div class="container-fluid text-center" style="background-color:#f4f8fb">
  <div class="row" style="background-color: #f3f8fb">
      <div class="col-lg-1">

      </div>
      <div class="col-lg-3">
          <br><br><br>
          <img src="./assets/images/p7.png"  alt="" width="400px" height="250px">
      </div>
      <div class="col-lg-8">
          <br><br><br><br><br>
          <small class="card1-text1">Did you know ?</small><br><br>
          <small class="card1-text2"> <b>7</b>  of the <b>20</b> most shared articles on <b>Buzzfeed</b> are <b>quizzes!</b></small><br><br>
          <small class="link1"> <a href="https://outgrow.co/blog/how-to-make-buzzfeed-style-quizzes">Read more </a></small>
      </div>
  </div>
</div>
 <br><br>
<div class="container text-center">
<p>Beautiful Engaging Experiences <br> Without Developers </p>
 <div class="row">
     <div class="col-lg-3">
         <p>BUILD <br> BEAUTIFUL</p>
           <ul>
             <li>
                 <i class="fa fa-object-ungroup" aria-hidden="true"></i> <b > Appealing layouts</b> that set your UX part
             </li>
             <br>
             <li>
                 <i class="fa fa-newspaper-o" aria-hidden="true"></i> Showcase your brand with <b> quick customizations</b>   
             </li>
                 <br>
             <li>
                 <i class="fa fa-tasks" aria-hidden="true"></i> Publish in minutes, with no <b>IT headache</b>
             </li>
             </ul>
         </div>
          <div class="vl" ></div>
         <div class="col-lg-1"></div>
          <div class="col-lg-7 embed-responsive embed-responsive-4by3">
          <embed width="800" height="500"
             src="https://www.youtube.com/embed/N-P_8ACSHas">
          </div>
     </div>

     
     <br><br>
     <div class="row">
         <div class="col-lg-8">
             <img src="./assets/images/1.png" class="img-fluid" alt="outgrow" width="700px" height="500px">
         </div>
         <div class="vl"></div>
         <div class="col-lg-3">
             <p>PUBLISH <br> ANYWHERE</p>
             <ul>
                 <li>
                 <i class="fa fa-globe" aria-hidden="true"> Publish on <b>your domain</b> or a <br> URL of your choice</i>
                 </li>
                 <br>
                 <li>
                 <i class="fa fa-check-circle-o" aria-hidden="true"> Embed beautifully in any <b>App. <br> Webpage or CMS.</b></i><br>
                 </li>
                 <br>
                 <li>
                 <i class="fa fa-check-circle-o" aria-hidden="true"> Present as a <b>Pop-up</b> or a <br> <b>slide-in</b></i>
                 </li>
             </ul>
         </div>
     </div>

     
 
     <br><br>
     <div class="row">
         
        <div class="col-lg-3">
             <p>BOOST <br> GROWTH</p>
             <ul>
                 <li>
                 <i class="fa fa-line-chart" aria-hidden="true"></i> See<b> record</b> conversion rates with interaction <b>lead
                 <br> generation</b> forms.
                 </li>
                 <br>
                 <li>
                 <i class="fa fa-user-circle-o" aria-hidden="true"></i> Go <b> viral</b> with seamless <b>Facebook, Twitter and Linkedin</b> integrations.   
                 </li>
                 
             </ul>
         </div>
          <div class = "vl" ></div>
          <div class="col-lg-8">
          <img src="./assets/images/2.png" class="img-fluid" alt="outgrow" width="700px" height="500px">
          </div>
     </div>


     <br><br>
     <div class="row">
         
         <div class="col-lg-8">
         <img src="./assets/images/3.png" class="img-fluid" alt="outgrow" width="700px" height="500px">
         </div>
         <div class="vl"></div>
         <div class="col-lg-3">
             <p>ANALYZE & <br> IMPROVE</p>
             <ul>
                 <li>
                 <i class="fa fa-globe" aria-hidden="true"> Publish on <b>your domain</b> or a <br> URL of your choice</i>
                 </li>
                 <br>
                 <li>
                 <i class="fa fa-check-circle-o" aria-hidden="true"> Embed beautifully in any <b>App. <br> Webpage or CMS.</b></i><br>
                 </li>
                 <br>
                 <li>
                 <i class="fa fa-check-circle-o" aria-hidden="true"> Present as a <b>Pop-up</b> or a <br> <b>slide-in</b></i>
                 </li>
             </ul>
         </div>
     </div>
</div>
<br><br>
<div class="container-fuild text-center">
  <div class="row" style="background-color: #f3f8fb">
      <div class="col-lg-6">
          <br><br><br><br><br>
          <small class="card1-text1">Who could have guessed ?</small><br>
          <small class="card1-text2"> <b>New York Times, </b>most successful content is actually a quiz!</small> <br>
          <small class="link1"><a href="https://outgrow.co/blog/top-viral-calculators" class="overview"> Read more  ></a></small>
      </div>

      <div class="col-lg-6">
          <br><br><br>
          <img src="./assets/images/p6.png" alt="" class="img-fluid" width="600px" height="250px">
      </div>
      
  </div>
</div>
<div class="container text-center">
      <p style="font-size:50px;color:#ec5b6a; font-weight:200;">Outgrow In Practice</p>
    <small class="card1-text2" style="font-size:22px">Presenting our highly optimized design layouts</small>
       
    <br>
    <div class="row" style="height:650px; padding-left: 50px;">
            <div class="col-lg-10">
              <iframe src ="http://website.outgrow.us/build-a-startup?vHeight=1"  class="frame-style" #frame>
            <p>Your browser does not support iframes.</p>
          </iframe>
            </div>
          </div>
          <div class="row">
           
            <div style="padding-left:70px" >
              <div class="col-lg-2" style="display:inline;">
                <a href="javascript:void(0);"><img src="assets/images/calc06.jpg" id="calcimg" (click)="videoURL('a',frame)" /></a>
              </div>
              <div class="col-lg-2" style="display:inline;">
                <a href="javascript:void(0);"><img src="assets/images/calc01.jpg" id="calcimg" (click)="videoURL('b',frame)"/></a>
              </div>
              <div class="col-lg-2" style="display:inline;">
                <a href="javascript:void(0);"><img src="assets/images/calc02.jpg" id="calcimg" (click)="videoURL('c',frame)" /></a>
              </div>
              <div class="col-lg-2" style="display:inline;">
                <a href="javascript:void(0);"><img src="assets/images/calc03.jpg" id="calcimg" (click)="videoURL('d',frame)" /></a>
              </div>
              <div class="col-lg-2" style="display:inline;">
                <a href="javascript:void(0);"><img src="assets/images/calc04.jpg" id="calcimg" (click)="videoURL('e',frame)" /></a>
              </div>
              <div class="col-lg-2" style="display:inline;">
                <a href="javascript:void(0);"><img src="assets/images/calc05.jpg" id="calcimg" (click)="videoURL('f',frame)" /></a>
              </div>
            </div>
          
              </div>    
    
</div>
