<link rel="stylesheet" href="../../../../assets/css/custom-sa.css">
<link rel="stylesheet" href="../../../../assets/css/sahil-hover.css">
<link rel="stylesheet" href="../../../../assets/css/home-responsive.css">
<link rel="stylesheet" href="../../../../assets/css/feature-responsive.css">
<div class="" id="feature">
    <br>
    <br>
    <br>
    <br>
    <!-- <section class="section rs-hide">
        <div class="container">
            <div class="feature-heading mk-animate-element scale-up head-text">
                The Development Studio
            </div>
        </div>
    </section> -->

    <!-- Feature page section 0 start-->
    <section class="section section-f1 mb feature-blue">
        <div class="container mobile-container">
            <div class="col-xs-12 col-sm-12 col-md-6 mk-animate-element scale-up rs-hide mk-in-viewport full-visible">
                <div class="col-xs-12 col-sm-12 slider-sa np">
                    <div class="qode-cards-gallery-holder right" data-side="right">
                        <div class="qode-cards-gallery">

                            <div class="card out" style="background-color: rgb(243, 243, 243); margin: 0px; opacity: 1;">
                                <a href="javascript:void(0);">
                                    <img src={{f_slide1}} alt="Variety of tools to boost your marketing" class="qode-lazy-image"
                                        style="width: 1122px; height: auto;" data-ratio="0.62566844919786" (click)="imageShift('a')"> </a>
                            </div>
                            <div class="card" style="background-color: rgb(243, 243, 243); margin: 0px; opacity: 1;">
                                <a href="javascript:void(0);">
                                    <img src={{f_slide2}} alt="Variety of tools to boost your marketing" class="qode-lazy-image"
                                        style="width: 1122px; height: auto;" data-ratio="0.62566844919786" > </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 section-f1-left">
                <h4 class="mk-animate-element left-to-right mk-in-viewport full-visible">
                    Variety of tools to boost your marketing
                </h4>
                <div class="secf1-test mk-animate-element left-to-right mk-in-viewport full-visible">
                    <span class="">
                        <i class="material-icons">trending_up</i>
                        <span>Numerical calculators </span>
                    </span>
                    <span class="">
                        <i class="material-icons">ac_unit</i>
                        <span>Outcome quizzes</span>
                    </span>
                    <span class="">
                        <i class="material-icons">devices</i>
                        <span>graded quizzes </span>
                    </span>
                </div>
                <span class="mk-animate-element right-to-left mk-in-viewport full-visible">
                    <span class="span-style">Some of our calculators have seen conversions of over 40-50%.</span>
                </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 section-f1-right rs-show">
                <div class="col-xs-12 col-sm-12 slider-sa">
                    <div class="rs-show">
                        <div class="swiper-container mk-animate-element scale-up rs-show swiper-container-horizontal mk-in-viewport" style="">
                            <div class="swiper-wrapper" style="transition-duration: 300ms; transform: translate3d(0px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-active" style="width: 657px;">
                                    <img alt="Variety of tools to boost your marketing" src={{isActiveSlide}} class="qode-lazy-image">
                                </div>
                                <!-- <div class="swiper-slide swiper-slide-next" style="width: 657px;">
                                    <img alt="Variety of tools to boost your marketing" src="//dzvexx2x036l1.cloudfront.net/f-slide1.jpg" class="qode-lazy-image">
                                </div> -->
                            </div>
                            <!-- Add Pagination -->
                        </div>
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet" (click)="mover('first','a')" [ngClass]="{'swiper-pagination-bullet-active':isActive0}"></span>
                            <span class="swiper-pagination-bullet" (click)="mover('first','b')" [ngClass]="{'swiper-pagination-bullet-active':isActive1}"></span>
                        </div>
                    </div>
                    <div class="qode-cards-gallery-holder left rs-hide" data-side="left">
                        <div class="qode-cards-gallery">
                            <div class="card" style="background-color:#f3f3f3">
                                <a href="javascript:void(0);">
                                    <img src="#" alt="Variety of tools to boost your marketing" class="qode-lazy-image" data-image="//dzvexx2x036l1.cloudfront.net/slide1.jpg"
                                        style="width: 1122px; height: 702px;" data-ratio="0.62566844919786" data-lazy="true"> </a>
                            </div>
                            <div class="card" style="background-color:#f3f3f3">
                                <a href="javascript:void(0);">
                                    <img src="#" alt="Variety of tools to boost your marketing" class="qode-lazy-image" data-image="//dzvexx2x036l1.cloudfront.net/slide2.jpg"
                                        style="width: 1122px; height: 702px;" data-ratio="0.62566844919786" data-lazy="true"> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature page section 0 end-->
    <!-- Feature page section 1 start-->
    <section class="section section-f1 mb section-f1-new feature-white">
        <div class="container mobile-container">
            <div class="col-xs-12 col-sm-12 col-md-6 section-f1-left">
                <h4 class="mk-animate-element left-to-right mk-in-viewport full-visible">
                    All layouts are heavily optimized for
                </h4>
                <div class="secf1-test mk-animate-element left-to-right">
                    <span class="">
                        <i class="material-icons">trending_up</i>
                        <span>Conversion </span>
                    </span>
                    <span class="">
                        <i class="material-icons">ac_unit</i>
                        <span>Engagement</span>
                    </span>
                    <span class="">
                        <i class="material-icons">devices</i>
                        <span>All screen sizes </span>
                    </span>
                </div>
                <span class="mk-animate-element right-to-left">
                    <!-- <i class="material-icons">format_paint</i> -->
                    <span class="span-style">Layouts are optimized through many A/B tests and usually see over 40% conversion rate.</span>
                </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 section-f1-right rs-show">
                <div class="col-xs-12 col-sm-12 slider-sa">
                    <div class="rs-show">
                        <div class="swiper-container mk-animate-element scale-up rs-show swiper-container-horizontal mk-in-viewport full-visible"
                            style="">
                            <div class="swiper-wrapper" style="transition-duration: 300ms; transform: translate3d(0px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-active" style="width: 657px;">
                                    <img src={{isActiveSlide1}} alt="All layouts are heavily optimized for" class="qode-lazy-image">
                                </div>
                                <!-- <div class="swiper-slide swiper-slide-next" style="width: 657px;">
                                    <img src="//dzvexx2x036l1.cloudfront.net/slide2.jpg" alt="All layouts are heavily optimized for" class="qode-lazy-image">
                                </div> -->
                            </div>
                            <!-- Add Pagination -->
                        </div>
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                                <span class="swiper-pagination-bullet" (click)="mover('second','a')" [ngClass]="{'swiper-pagination-bullet-active':isActive2}"></span>
                                <span class="swiper-pagination-bullet" (click)="mover('second','b')" [ngClass]="{'swiper-pagination-bullet-active':isActive3}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 mk-animate-element scale-up rs-hide mk-in-viewport">
                <div class="col-xs-12 col-sm-12 slider-sa np">
                    <div class="qode-cards-gallery-holder left " data-side="left">
                        <div class="qode-cards-gallery">
                            <div class="card" style="background-color:#f3f3f3">
                                <a href="javascript:void(0);">
                                    <img src={{f_slide3}} alt="All layouts are heavily optimized for"
                                        class="qode-lazy-image" style="width: 1122px; height: auto;" data-ratio="0.62566844919786" (click)="imageShift('b')"> </a>
                            </div>
                            <div class="card" style="background-color:#f3f3f3">
                                <a href="javascript:void(0);">
                                    <img src={{f_slide4}} alt="All layouts are heavily optimized for"
                                        class="qode-lazy-image" style="width: 1122px; height: auto;" data-ratio="0.62566844919786"> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature page section 1 end-->

    <!-- Featurepage section 2 start-->
    <section class="section section-f2">
        <div class="container img-container-right mobile-container">
            <div class="col-xs-12 col-sm-12 col-md-7 np rs-hide box-shadow mk-animate-element left-to-right">
                <img alt="Bring Out Your Brand" src="https://dzvexx2x036l1.cloudfront.net/f-sec4-1.jpg" class="mk-animate-element left-to-right"
                />
                <img alt="Bring Out Your Brand" src="https://dzvexx2x036l1.cloudfront.net/f-sec4-2.jpg" class="secf2-2 mk-animate-element left-to-right box-shadow"
                />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 section-f2-left">
                <span class="mk-animate-element right-to-left hide">
                    <i class="material-icons icon-style">format_paint</i>
                </span>
                <h4 class="mk-animate-element right-to-left">
                    Bring Out Your Brand
                </h4>
                <div class="secf2-test mk-animate-element left-to-right section-f2-new">
                    <span class="">
                        <i class="material-icons">trending_up</i>
                        <span>Your Logo </span>
                    </span>
                    <span class="">
                        <i class="material-icons">ac_unit</i>
                        <span>Your Colors</span>
                    </span>
                    <span class="">
                        <i class="material-icons">devices</i>
                        <span>Your Assets (images etc)</span>
                    </span>
                </div>
                <span class="mk-animate-element right-to-left">
                    <!-- <i class="material-icons">format_paint</i> -->
                    <span class="span-style">The look and feel can be easily customized to showcase your brand.</span>
                </span>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 np rs-show mk-animate-element left-to-right section-f2-right">
                <img alt="Bring Out Your Brand" src="https://dzvexx2x036l1.cloudfront.net/f-sec4-1.jpg" class="mk-animate-element left-to-right img-pos box-shadow"
                />
                <img alt="Bring Out Your Brand" src="https://dzvexx2x036l1.cloudfront.net/f-sec4-2.jpg" class="secf2-2 mk-animate-element left-to-right"
                />
            </div>
        </div>
    </section>
    <!--Feature Page section 2 ends -->

    <!--Feature Page section 3 starts -->
    <section class="section section-15">
        <div class="container img-container-right mobile-container">
            <div class="col-xs-12 col-sm-12 col-md-5 section-15-left">
                <span class="mk-animate-element right-to-left">
                    <i class="material-icons icon-style">view_compact</i>
                </span>
                <h4 class="mk-animate-element right-to-left">
                    Smart Builder Accelerates Development to Minutes
                </h4>
                <span class="mk-animate-element right-to-left">
                    <!-- <i class="material-icons">view_compact</i> -->
                    <span>Easily craft questions and options with an easy to use intuitive interface. </span>
                </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 np rs-hide box-shadow mk-animate-element left-to-right section-15-right">
                <img alt="Smart Builder Accelerates Development to Minutes" src="https://dzvexx2x036l1.cloudfront.net/feature-1-2.jpg" class="mk-animate-element left-to-right img-left"
                />
                <img alt="Smart Builder Accelerates Development to Minutes" class="sec15-2 mk-animate-element left-to-right box-shadow" src="https://dzvexx2x036l1.cloudfront.net/feature-1.jpg"
                />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 np rs-show mk-animate-element left-to-right section-15-right">
                <img alt="Smart Builder Accelerates Development to Minutes" src="https://dzvexx2x036l1.cloudfront.net/feature-1-2.jpg" class="mk-animate-element left-to-right img-pos box-shadow "
                />
                <img alt="Smart Builder Accelerates Development to Minutes" class="sec15-2 mk-animate-element left-to-right box-shadow" src="https://dzvexx2x036l1.cloudfront.net/feature-1.jpg"
                />
            </div>
        </div>
    </section>
    <!-- Feature Page Section 3 ends -->

    <!-- Feature Page Section 4 starts -->
    <section class="section section-17">
        <div class="container img-container-right mobile-container">
            <div class="col-xs-12 col-sm-12 col-md-7 np rs-hide ">
                <img alt="Easily Create Complex Formulas" src="https://dzvexx2x036l1.cloudfront.net/feature-complexFormulas-01.jpg" class="sec17-2-1 mk-animate-element left-to-right box-shadow"
                />
                <img alt="Easily Create Complex Formulas" class="sec17-2 mk-animate-element left-to-right box-shadow" src="https://dzvexx2x036l1.cloudfront.net/feature-complexFormulas-02.jpg"
                />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 section-17-left">
                <span class="mk-animate-element right-to-left">
                    <i class="material-icons icon-style">developer_board</i>
                </span>
                <h4 class="mk-animate-element right-to-left">
                    Easily Create Complex Formulas
                </h4>
                <span class="mk-animate-element right-to-left">
                    <!-- <i class="material-icons">developer_board</i> -->
                    <span>Calculate RoI, savings, percentages, discounts and whatever else you learned in stat class.</span>
                </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 np rs-show mk-animate-element left-to-right section-17-right">
                <!-- <img src="https://dzvexx2x036l1.cloudfront.net/f-sec4-1.jpg" class="mk-animate-element left-to-right" />
				<img class="sec17-2 mk-animate-element left-to-right" src="https://dzvexx2x036l1.cloudfront.net/f-sec4-2.jpg" /> -->
                <img alt="Easily Create Complex Formulas" src="https://dzvexx2x036l1.cloudfront.net/resultpage.jpg" class="sec17-2-1 mk-animate-element left-to-right box-shadow"
                />
                <img alt="Easily Create Complex Formulas" class="sec17-2 mk-animate-element left-to-right box-shadow" src="https://dzvexx2x036l1.cloudfront.net/feature-2-2.jpg"
                />
            </div>
        </div>
    </section>
    <!-- Feature Page section 4 end-->

    <section class="section section-f1 mb section-15 sec-graphsCharts">
        <div class="container mobile-container">
            <div class="col-xs-12 col-sm-12 col-md-4 section-f1-left">
                <span class="mk-animate-element right-to-left mk-in-viewport full-visible">
                    <i class="material-icons icon-style">touch_app</i>
                </span>
                <h4 class="mk-animate-element left-to-right">
                    Engage with Graphs and Charts
                </h4>
                <span class="mk-animate-element right-to-left subheading">
                    <!-- <i class="material-icons">format_paint</i> -->
                    <span class="span-style">Increase interactivity with dynamic charts based on user inputs</span>
                </span>
                <div class="secf1-test mk-animate-element left-to-right">
                    <span class="">
                        <i class="material-icons">equalizer</i>
                        <span>Bar Charts </span>
                    </span>
                    <span class="">
                        <i class="material-icons">timeline</i>
                        <span>Line Charts</span>
                    </span>
                    <span class="">
                        <i class="material-icons">view_column</i>
                        <span>Tables </span>
                    </span>
                    <span class="">
                        <i class="material-icons">pie_chart</i>
                        <span>Pie Charts </span>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 section-f1-right rs-show">
                <div class="col-xs-12 col-sm-12 slider-sa">
                    <div class="rs-show">
                        <div class="swiper-container  mk-animate-element scale-up rs-show">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-slide-active">
                                    <img src={{isActiveSlide2}} alt="Engage with	Graphs and Charts" class="qode-lazy-image">
                                </div>
                                <!-- <div class="swiper-slide swiper-slide-next">
                                    <img src="https://dzvexx2x036l1.cloudfront.net/features-graphsCharts-02.jpg" alt="Engage with	Graphs and Charts" class="qode-lazy-image">
                                </div>
                                <div class="swiper-slide swiper-slide-next">
                                    <img src="https://dzvexx2x036l1.cloudfront.net/features-graphsCharts-03.jpg" alt="Engage with	Graphs and Charts" class="qode-lazy-image">
                                </div>
                                <div class="swiper-slide swiper-slide-next">
                                    <img src="https://dzvexx2x036l1.cloudfront.net/features-graphsCharts-04.jpg" alt="Engage with	Graphs and Charts" class="qode-lazy-image">
                                </div> -->
                            </div>
                            <!-- Add Pagination -->
                        </div>
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet" (click)="mover('third','a')" [ngClass]="{'swiper-pagination-bullet-active':isActive4}"></span>
                            <span class="swiper-pagination-bullet" (click)="mover('third','b')" [ngClass]="{'swiper-pagination-bullet-active':isActive5}"></span>
                            <span class="swiper-pagination-bullet" (click)="mover('third','c')" [ngClass]="{'swiper-pagination-bullet-active':isActive6}"></span>
                            <span class="swiper-pagination-bullet" (click)="mover('third','d')" [ngClass]="{'swiper-pagination-bullet-active':isActive7}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 mk-animate-element scale-up rs-hide">
                <div class="col-xs-12 col-sm-12 slider-sa">
                    <div class="swiper-container  mk-animate-element scale-up rs-hide swiper-container-horizontal mk-in-viewport full-visible">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-active">
                                <img src={{isActiveSlide3}} alt="Engage with	Graphs and Charts" class="qode-lazy-image">
                            </div>
                            <!-- <div class="swiper-slide swiper-slide-next">
                                <img src="https://dzvexx2x036l1.cloudfront.net/features-graphsCharts-02.jpg" alt="Engage with	Graphs and Charts" class="qode-lazy-image">
                            </div>
                            <div class="swiper-slide swiper-slide-next">
                                <img src="https://dzvexx2x036l1.cloudfront.net/features-graphsCharts-03.jpg" alt="Engage with	Graphs and Charts" class="qode-lazy-image">
                            </div>
                            <div class="swiper-slide swiper-slide-next">
                                <img src="https://dzvexx2x036l1.cloudfront.net/features-graphsCharts-04.jpg" alt="Engage with	Graphs and Charts" class="qode-lazy-image">
                            </div> -->
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet" (click)="mover('fourth','a')" [ngClass]="{'swiper-pagination-bullet-active':isActive8}"></span>
                            <span class="swiper-pagination-bullet" (click)="mover('fourth','b')" [ngClass]="{'swiper-pagination-bullet-active':isActive9}"></span>
                            <span class="swiper-pagination-bullet" (click)="mover('fourth','c')" [ngClass]="{'swiper-pagination-bullet-active':isActive10}"></span>
                            <span class="swiper-pagination-bullet" (click)="mover('fourth','d')" [ngClass]="{'swiper-pagination-bullet-active':isActive11}"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Feature page section 5 start-->
    <section class="section section-5">
        <div class="container sec-5-container mobile-container">
            <div class="col-xs-12 col-sm-12 col-md-6 np text-center mk-animate-element scale-up sec-5-text">
                <h5>Multiple Results</h5>
                <p>Want to show the total cost with a discount, the total savings and how many trees will be saved? No problem!</p>
                <img alt="Multiple Results" class="mk-animate-element scale-up shadow img-style res-img" src="https://dzvexx2x036l1.cloudfront.net/slide6-new1.jpg"
                />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 np text-center mk-animate-element scale-up sec-5-text">
                <h5>Realtime Results</h5>
                <p>Want to get more interactive & show the results in real time?
                    <br/> One click can let you do that!</p>
                <img alt="Realtime Results" class="mk-animate-element scale-up shadow res-img img-style" src="https://dzvexx2x036l1.cloudfront.net/sec5-4-lg.jpg"
                />
            </div>
        </div>
    </section>
    <!-- Feature page section 5 end-->

    <!-- Feature page section 6 start-->
    <section class="section section-10">
        <div class="container container-center">
            <div class="sec10-testimonial mk-animate-element left-to-right">
                <div class="col-md-12 col-sm-12 col-xs-12 np">
                    <h4>Embed Anywhere</h4>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 np">
                    <div class="col-md-4 col-xs-4 np text-center">
                        <i class="material-icons">laptop</i>
                        <span>full screen</span>
                        <p class="rs-hide">Fullscreen responsive pages. Optimized to work for all screen sizes and devices</p>
                    </div>
                    <div class="col-md-4 col-xs-4 np text-center">
                        <i class="material-icons">web</i>
                        <span>IFRAME Embed</span>
                        <p class="rs-hide">Embed your calculator on your blog or site, without ever diverting visitors</p>
                    </div>
                    <div class="col-md-4 col-xs-4 np text-center">
                        <i class="material-icons">web_asset</i>
                        <span>embed as POPUP</span>
                        <p class="rs-hide">Embed your calculator inside a popup or inside of a slide in.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature page section 6 end-->

    <!-- Feature page section 7 starts -->
    <section class="section section-f3 sec-style">
        <div class="container img-container-right mobile-container">
            <div class="col-xs-12 col-sm-12 col-md-5 section-f3-left sec-style-left">
                <span class="mk-animate-element right-to-left hide">
                    <i class="material-icons icon-style">format_paint</i>
                </span>
                <h4 class="mk-animate-element right-to-left">
                    Close the Marketing Loop
                </h4>
                <div class="secf3-test mk-animate-element left-to-right section-f3-new">
                    <span class="">
                        <i class="material-icons">trending_up</i>
                        <span>Confirmation Emails</span>
                    </span>
                    <span class="">
                        <i class="material-icons">ac_unit</i>
                        <span>Dynamic Text</span>
                    </span>
                    <span class="">
                        <i class="material-icons">devices</i>
                        <span>One Click Setup</span>
                    </span>
                </div>
                <span class="mk-animate-element right-to-left">
                    <!-- <i class="material-icons">format_paint</i> -->
                    <span class="span-style">Send marketing emails with personalized text right from our development studio.</span>
                </span>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 np rs-hide mk-animate-element left-to-right section-f3-right">
                <img alt="Close the Marketing Loop" src="https://dzvexx2x036l1.cloudfront.net/slide6-new.jpg" class="mk-animate-element left-to-right box-shadow"
                />
                <img alt="Close the Marketing Loop" class="secf3-2 mk-animate-element left-to-right" src="https://dzvexx2x036l1.cloudfront.net/f-sec4-3.jpg"
                />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 np rs-show mk-animate-element left-to-right section-f3-right">
                <img alt="Close the Marketing Loop" src="https://dzvexx2x036l1.cloudfront.net/slide6-new.jpg" class="mk-animate-element left-to-right img-pos box-shadow"
                />
                <img alt="Close the Marketing Loop" class="secf3-2 mk-animate-element left-to-right" src="https://dzvexx2x036l1.cloudfront.net/f-sec4-3.jpg"
                />
            </div>
        </div>
    </section>
    <!-- Feature page section 7 end-->

    <!-- Feature page section 8 start-->
    <section class="section section-f4">
        <div class="container img-container-right mobile-container np">
            <div class="col-xs-12 col-sm-12 col-md-12 section-f4-left sec-f4-style">
                <span class="mk-animate-element left-to-right hide">
                    <i class="material-icons icon-style">format_paint</i>
                </span>
                <h4 class="mk-animate-element right-to-left">
                    End to End Analytics
                </h4>
                <span class="mk-animate-element right-to-left">
                    <span class="span-style">Get complete information about the users who used your calculator. Complete Funnel Visualization</span>
                </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 np rs-hide">
                <div class="col-md-6 img-pad-left">
                    <img alt="End to End Analytics" src="https://dzvexx2x036l1.cloudfront.net/analytics02.jpg" class="box-shadow" />
                </div>
                <div class="col-md-6 img-pad-right">
                    <img alt="End to End Analytics" src="https://dzvexx2x036l1.cloudfront.net/feature-analytics01.jpg" class="box-shadow" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 rs-show np section-f4-right">
                <img alt="End to End Analytics" src="https://dzvexx2x036l1.cloudfront.net/analytics02.jpg" class="col-md-6 np box-shadow w100"
                />
                <img alt="End to End Analytics" src="https://dzvexx2x036l1.cloudfront.net/feature-analytics01.jpg" class="col-md-6 np box-shadow w100"
                />
            </div>
        </div>
    </section>
    <!-- Feature page section 8 end-->

    <!-- Feature page section 9 start-->
    <section class="section section-4">
        <div class="container img-container-right mobile-container">
            <div class="col-xs-12 col-sm-12 col-md-5 section-4-left sec-style-left">
                <span class="mk-animate-element left-to-right hide">
                    <i class="material-icons icon-style">format_paint</i>
                </span>
                <h4 class="mk-animate-element right-to-left">
                    Generate New Targeted Leads
                </h4>
                <div class="sec9-test mk-animate-element left-to-right section-4-new">
                    <span class="">
                        <i class="material-icons">trending_up</i>
                        <span>Flexible Lead Gen</span>
                    </span>
                    <span class="">
                        <i class="material-icons">ac_unit</i>
                        <span>Optmized for Conversion</span>
                    </span>
                </div>
                <span class="mk-animate-element right-to-left">
                    <!-- <i class="material-icons">format_paint</i> -->
                    <span class="span-style">Generate rich leads on any stage of the calculator.</span>
                </span>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 np rs-hide mk-animate-element right-to-left section-4-img">
                <img alt="Generate New Targeted Leads" src="https://dzvexx2x036l1.cloudfront.net/f-sec4-1.jpg" class="mk-animate-element right-to-left box-shadow"
                />
                <img alt="Generate New Targeted Leads" class="sec4-2 mk-animate-element left-to-right" src="https://dzvexx2x036l1.cloudfront.net/f-sec4-2-1.jpg"
                />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 np rs-show mk-animate-element right-to-left section-4-img">
                <img alt="Generate New Targeted Leads" src="https://dzvexx2x036l1.cloudfront.net/f-sec4-1.jpg" class="mk-animate-element left-to-right img-pos box-shadow"
                />
                <img alt="Generate New Targeted Leads" class="sec4-2 mk-animate-element left-to-right " src="https://dzvexx2x036l1.cloudfront.net/f-sec4-2-1.jpg"
                />
            </div>
        </div>
    </section>
    <!-- Feature page section 9 end-->
    <!-- Featurepage section 9.1 start-->
    <section class="section section-f2 feature-9-1">
        <div class="container img-container-right mobile-container">
            <div class="col-xs-12 col-sm-12 col-md-7 np rs-hide mk-animate-element left-to-right">
                <img alt="Improve Social Footprint" src="https://dzvexx2x036l1.cloudfront.net/share-img.png" class="mk-animate-element left-to-right"
                />
                <img alt="Improve Social Footprint" src="https://dzvexx2x036l1.cloudfront.net/f-slider3new.png" class="secf2-2 mk-animate-element left-to-right"
                />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 section-f2-left">
                <span class="mk-animate-element right-to-left hide">
                    <i class="material-icons icon-style">format_paint</i>
                </span>
                <h4 class="mk-animate-element right-to-left">
                    Improve Social Footprint
                </h4>
                <div class="secf2-test mk-animate-element left-to-right section-f2-new">
                    <span class="">
                        <i class="material-icons">trending_up</i>
                        <span>Add share call to actions.</span>
                    </span>
                    <span class="">
                        <i class="material-icons">trending_up</i>
                        <span>Embed Like & Follow Buttons.</span>
                    </span>
                </div>
                <span class="mk-animate-element right-to-left">
                    <!-- <i class="material-icons">format_paint</i> -->
                    <span class="span-style">Step up your social game with just one click. It really is that simple!</span>
                </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 np rs-show mk-animate-element left-to-right section-f2-right">
                <img alt="Improve Social Footprint" src="https://dzvexx2x036l1.cloudfront.net/share-img.png" class="mk-animate-element left-to-right img-pos"
                />
                <img alt="Improve Social Footprint" src="https://dzvexx2x036l1.cloudfront.net/f-slider3new.png" class="secf2-2 mk-animate-element left-to-right"
                />
            </div>
        </div>
    </section>
    <!--Feature Page section 9.1 ends -->

    <section class="section sec-integrations">
        <div class="container mobile-container">
            <div class="section-2-heading mk-animate-element scale-up ">
                Over 500 Integrations
            </div>
            <h5 class="section-2-subheading mk-animate-element scale-up">
                Easily Integrate with Over 500 sales & marketing tools
            </h5>
            <div class="col-xs-12 col-sm-12 col-md-12 np rs-hide mk-in-viewport text-center">
                <!--<img class="mk-animate-element scale-up int-box-shadow" src="https://dzvexx2x036l1.cloudfront.net/img-integration-full.jpg" />-->
                <div class="img-int-wrapper">
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-1.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-2.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-3.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-4.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-5.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-6.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-7.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-8.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-9.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-10.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-11.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-12.jpg" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 np mk-animate-element scale-up rs-show text-center mk-in-viewport rs-hide-int-res">
                <!--<img class="int-box-shadow" src="" data-src="https://dzvexx2x036l1.cloudfront.net/img-integration-resp.jpg">-->
                <div class="img-int-wrapper">
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-1.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-2.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-3.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-4.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-5.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-6.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-7.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-8.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-9.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-10.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-11.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-12.jpg" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 np mk-animate-element scale-up rs-show text-center mk-in-viewport rs-hide-int-mob">
                <!--<img class="int-box-shadow" src="https://dzvexx2x036l1.cloudfront.net/img-integration-mob.jpg">-->
                <div class="img-int-wrapper">
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-1.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-2.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-3.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-4.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-5.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-6.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-7.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-8.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-9.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-10.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-11.jpg" />
                    <img alt="integration image" class="" src="https://dzvexx2x036l1.cloudfront.net/img-int-12.jpg" />
                </div>
            </div>
        </div>
    </section>
    <!-- Homepage section 6 end-->

    <!-- Feature page section 11 start-->
    <section class="section section-10 sec-help">
        <div class="container container-center">
            <div class="col-md-12 col-sm-12 col-xs-12 np">
                <div class="col-md-3 col-sm-12 col-xs-12 np text-center mk-animate-element left-to-right">
                    <i class="material-icons">supervisor_account</i>
                    <span>Teams</span>
                    <p> Easily collaborate with your colleagues while managing access and permissions.</p>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 np text-center mk-animate-element left-to-right">
                    <i class="material-icons">view_comfy</i>
                    <span>Agency Accounts</span>
                    <p>Run an agency? No Problem. Manage clients' calculators with just one agency account.</p>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 np text-center mk-animate-element right-to-left">
                    <i class="material-icons">perm_phone_msg</i>
                    <span>Support</span>
                    <p> Get 24/7 access to our expert support team for anything you need.</p>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 np text-center mk-animate-element right-to-left">
                    <i class="material-icons">vpn_lock</i>
                    <span>SSL Secure</span>
                    <p>All calculators are secured via SSL to ensure safety of client data.</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center np">
                <div class="start-trial-cta">
                    <a href="http://app.outgrow.co" id="trialAnchor">
                        <button class="btn-buildcal mk-animate-element left-to-right mk-in-viewport full-visible ripple">
                            <i class="material-icons">view_compact</i>
                            <p>Build Your interactive experience</p>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- <app-footer></app-footer> -->