<br><br>

<div class="container-fluid">
    <!-- Card -->
    <br><br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <img class="imgF1" src="./assets/images/f15.jpg">
            <img class="imgF2" src="./assets/images/f16.jpg">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <p style="color:#FB6C73;font-size:24.5px;">BRING OUT YOUR BRAND</p>
            <div class="row textlines">
                YOUR LOGO
            </div>
            <br>
            <div class="row textlines">
                YOUR COLORS
            </div>
            <br>
            <div class="row textlines">
                YOUR ASSETS (IMAGES ETC)
            </div>
            <br>
            <br>
  
            <div class="row textlines">
                The look and feel can be easily customized to showcase your brand.
            </div>
        </div>
    </div>
  
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <p style="color:#FB6C73;font-size:24.5px;">SMART BUILDER ACCELERATES DEVELOPMENT TO MINUTES</p>
            <br>
  
  
            <div class="row textlines">
                Easily craft questions and options with an easy to use intuitive interface.
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <img class="imgE1" src="./assets/images/f13.jpg">
            <img class="imgE2" src="./assets/images/f14.jpg">
        </div>
  
  
    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- Card ends here -->
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <img class="imgD1" src="./assets/images/f11.jpg">
            <img class="imgD2" src="./assets/images/f12.jpg">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <p style="color:#FB6C73;font-size:26px;">EASILY CREATE COMPLEX FORMULAS</p>
            <br>
  
  
            <div class="row textlines">
                Calculate RoI, savings, percentages, discounts and whatever else you learned in stat class.
            </div>
        </div>
    </div>
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <p style="font-size:24.5px;text-align:center">MULTIPLE RESULTS
                <br>
                <span style="color:#62696d;font-size:18px;">Want to show the total cost with a discount, the total savings and how many trees will be saved? No problem!</span>
            </p>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-sm-4">
            <p style="font-size:24.5px;text-align:center">REALTIME RESULTS
                <br>
                <span style="color:#62696d;font-size:18px;">Want to get more interactive & show the results in real time? One click can let you do that!</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img class="center" src="./assets/images/f08.jpg" width="527px" height="300px">
        </div>
        <div class="col-lg-6">
            <img class="center" src="./assets/images/f10.jpg" width="527px" height="315px">
        </div>
    </div>
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <div class="row" style="background-color:#62696D;width:auto;height:300px;text-align:center;font-size: 32px;color:white;display:block;padding-top:37px">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">Embed Anywhere</div>
        </div>
        <br>
        <div class="row">
  
            <div class="col-lg-4">
                <h5>FULL SCREEN</h5>
            </div>
  
            <div class="col-lg-4">
                <h5>IFRAME EMBED</h5>
            </div>
  
            <div class="col-lg-4">
                <h5>EMBED AS POPUP</h5>
            </div>
  
        </div>
        <div class="row">
            <p></p>
        </div>
        <div class="row">
  
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat1">Fullscreen responsive pages. Optimized to work for all screen sizes and devices</p>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat1">Embed your calculator on your blog or site, without ever diverting visitors</p>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat1">Embed your calculator inside a popup or inside of a slide in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-3">
            <p style="color:#FB6C73;font-size:24.5px;">CLOSE THE MARKETING LOOP</p>
            <div class="row textlines">
                CONFIRMATION EMAILS
            </div>
            <br>
            <div class="row textlines">
                DYNAMIC TEXT
            </div>
            <br>
            <div class="row textlines">
                ONE CLICK SETUP
            </div>
            <br>
            <br>
  
            <div class="row textlines">
                Send marketing emails with personalized text right from our development studio.
            </div>
        </div>
        <div class="col-lg-6">
            <img class="imgC1" src="./assets/images/f08.jpg">
            <img class="imgC2" src="./assets/images/f09.jpg">
        </div>
    </div>
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p style="font-size:40px;text-align:center">End To End Analytics
                <br>
                <span style="color:#62696d;font-size:18px;">Get complete information about the users who used your calculator. Complete Funnel Visualization</span>
            </p>
        </div>
  
    </div>
    <br>
    <div class="row">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-6">
            <img src="./assets/images/f06.jpg" class="center1">
  
        </div>
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-6">
            <img src="./assets/images/f07.jpg" class="center1">
  
        </div>
  
    </div>
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-3">
            <p style="color:#FB6C73;font-size:24.5px;">GENERATE NEW TARGETED LEADS</p>
            <div class="row textlines">
                FLEXIBLE LEAD GEN
            </div>
            <br>
            <div class="row textlines">
                OPTMIZED FOR CONVERSION
            </div>
            <br>
            <br>
  
            <div class="row textlines">
                Step up your social game with just one click. It really is that simple!
            </div>
        </div>
        <div class="col-lg-6">
            <img class="imgB1" src="./assets/images/f04.jpg">
            <img class="imgB2" src="./assets/images/f05.jpg">
        </div>
    </div>
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <img class="imgA1" src="./assets/images/f02.png">
            <img class="imgA2" src="./assets/images/f03.png">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <p style="color:#FB6C73;font-size:24.5px;">IMPROVE SOCIAL FOOTPRINT</p>
            <div class="row textlines">
                ADD SHARE CALL TO ACTIONS.
            </div>
            <br>
            <div class="row textlines">
                EMBED LIKE & FOLLOW BUTTONS.
            </div>
            <br>
            <br>
  
            <div class="row textlines">
                Step up your social game with just one click. It really is that simple!
            </div>
        </div>
    </div>
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <br>
  
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <p style="color:#FB6C73;font-size:40px;text-align:center">Over 500 Integrations
                <br>
                <span style="color:#62696d;font-size:18px;">Easily Integrate with Over 500 sales & marketing tools</span>
            </p>
  
        </div>
    </div>
  
  
  
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <img src="./assets/images/f01.PNG">
        </div>
    </div>
  </div>
  <br>
  <br>
  
  
  <div class="row" style="background-color:#FB6C73;width:auto;text-align:center;font-size: 32px;color:white;display:block;padding-top:37px">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-lg-3">
                <h5>TEAMS</h5>
            </div>
            <div class="col-lg-3">
                <h5>AGENCY ACCOUNTS</h5>
            </div>
            <div class="col-lg-3">
                <h5>SUPPORT</h5>
            </div>
            <div class="col-lg-3">
                <h5>SSL SECURE</h5>
            </div>
        </div>
        <div class="row">
            <p></p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat">Easily collaborate with your colleagues while managing access and permissions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat">Run an agency? No Problem. Manage clients' calculators with just one agency account.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat">Get 24/7 access to our expert support team for anything you need.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat">All calculators are secured via SSL to ensure safety of client data.</p>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <button  class="feabutton" style="color:#62696d;font-size:15px">
                    BUILD YOUR INTERACTIVE EXPERIENCE </button>
            </div>
        </div>
  
        <div class="row"></div>
  
    </div>
  
    <br>
  </div>
  <div class="row"></div>
  