<div class="container">

    <!-- Block ends here -->
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12" style="text-align:center;color:#fb6c73;font-size:40px;font-family:montserratlight - 400">
            The Development Studio
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-7">
            <img src="">
            <img src="">
        </div>
        <div class="col-lg-5 ">
            <p style="color:#fb6c73;font-size:22px;">VARIETY OF TOOLS TO BOOST YOUR MARKETING</p>
            <div class="row textlines">
                <i class="large material-icons">trending_up</i> &emsp;NUMERICAL CALCULATORS
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">ac_unit</i> &emsp;OUTCOME QUIZZES
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">devices</i> &emsp;GRADED QUIZZES
            </div>
            <br>
            <br>

            <div class="row textlines">
                Some of our calculators have seen conversions of over 40-50%.
            </div>
        </div>
    </div>

    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <!-- <div class="col-lg-2"></div> -->
        <div class="col-lg-5">
            <p style="color:#FB6C73;font-size:24.5px;">ALL LAYOUTS ARE HEAVILY OPTIMIZED FOR</p>
            <div class="row textlines">
                <i class="large material-icons">trending_up</i> &emsp; CONVERSION
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">ac_unit</i> &emsp;ENGAGEMENT
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">devices</i> &emsp; ALL SCREEN SIZES
            </div>
            <br>
            <br>


            <div class="row textlines">
                Layouts are optimized through many A/B tests and usually see over 40% conversion rate.
            </div>
        </div>
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-7">
            <img src="">
            <img src="">
        </div>


    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- Card ends here -->

    <!-- Card -->
    <div class="row">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-7">
            <img class="imgF1" src="assets/images/f15.jpg">
            <img class="imgF2" src="assets/images/f16.jpg">
        </div>
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-5 settingFeatures">
            <p style="color:#FB6C73;font-size:24.5px;">BRING OUT YOUR BRAND</p>
            <div class="row textlines">
                <i class="large material-icons">trending_up</i> &emsp;YOUR LOGO
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">ac_unit</i> &emsp;YOUR COLORS
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">devices</i> &emsp; YOUR assets/images (IMAGES ETC)
            </div>
            <br>
            <br>

            <div class="row textlines">
                The look and feel can be easily customized to showcase your brand.
            </div>
        </div>
    </div>

    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-4 settingFeatures1">
            <p>
                <i class="large material-icons heading-icons">view_compact</i>
            </p>
            <p style="color:#FB6C73;font-size:24.5px;">SMART BUILDER ACCELERATES DEVELOPMENT TO MINUTES</p>
            <br>


            <div class="row textlines">
                Easily craft questions and options with an easy to use intuitive interface.
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
            <img class="imgE1" src="assets/images/f13.jpg">
            <img class="imgE2" src="assets/images/f14.jpg">
        </div>


    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- Card ends here -->
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-7">
            <img class="imgD1" src="assets/images/f11.jpg">
            <img class="imgD2" src="assets/images/f12.jpg">
        </div>
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-5 settingFeatures">
            <p>
                <i class="large material-icons heading-icons">developer_board</i>
            </p>
            <p style="color:#FB6C73;font-size:26px;">EASILY CREATE COMPLEX FORMULAS</p>
            <br>


            <div class="row textlines">
                Calculate RoI, savings, percentages, discounts and whatever else you learned in stat class.
            </div>
        </div>
    </div>
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-4 settingFeatures1">
            <p>
                <i class="large material-icons heading-icons">touch_app</i>
            </p>
            <p style="color:#FB6C73;font-size:26px;">ENGAGE WITH GRAPHS AND CHARTS</p>
            <br>
            <div class="row textlines">
                Increase interactivity with dynamic charts based on user inputs
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">equalizer</i>&emsp;BAR CHARTS
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">timeline</i>&emsp;LINE CHARTS
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">view_column</i>&emsp;TABLES
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">pie_chart</i>&emsp;PIE CHARTS
            </div>
        </div>
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-8">

            <div id="myCarousel" class="carousel slide bg-inverse w-50 ml-auto mr-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="assets/images/f17.jpg" alt="First slide" width="715" height="450">

                    </div>

                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/images/f17.jpg" alt="Second slide" width="715" height="450">

                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/images/f17.jpg" alt="Second slide" width="715" height="450">

                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/images/f17.jpg" alt="Third slide" width="715" height="450">

                    </div>

                </div>

            </div>



        </div>


    </div>
    <!-- Card ends here -->
    <br>
    <br>

    <!-- Card -->
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <p style="font-size:24.5px;text-align:center">MULTIPLE RESULTS</p>

            <p style="color:#62696d;font-size:18px;line-height:normal;text-align:center">Want to show the total cost with a discount, the total savings and how many trees will be saved? No problem!</p>

        </div>
        <div class="col-lg-2"></div>
        <div class="col-sm-4">
            <p style="font-size:24.5px;text-align:center">REALTIME RESULTS</p>

            <p style="color:#62696d;font-size:18px;line-height:normal;text-align:center">Want to get more interactive & show the results in real time? One click can let you do that!</p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img class="center" src="assets/images/f08.jpg" width="527px" height="300px">
        </div>
        <div class="col-lg-6">
            <img class="center" src="assets/images/f10.jpg" width="527px" height="315px">
        </div>
    </div>
    <!-- Card ends here -->
</div>
<br>
<br>
<br>
<div class="row" style="background-color:#62696D;width:auto;height:300px;text-align:center;font-size: 32px;color:white;display:block;padding-top:37px">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">Embed Anywhere</div>
    </div>
    <div class="feat1Pad">
        <div class="row">

            <div class="col-lg-4">
                <i class="large material-icons embedicons" style="font-size:1.90em;">laptop</i>
            </div>

            <div class="col-lg-4">
                <i class="large material-icons embedicons" style="font-size:1.90em;">web</i>
            </div>

            <div class="col-lg-4">
                <i class="large material-icons embedicons" style="font-size:1.90em;">web_asset</i>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4">
                <h5 class="feat1head">FULL SCREEN</h5>
            </div>

            <div class="col-lg-4">
                <h5 class="feat1head">IFRAME EMBED</h5>
            </div>

            <div class="col-lg-4">
                <h5 class="feat1head">EMBED AS POPUP</h5>
            </div>

        </div>
        <div class="row">
            <p></p>
        </div>
        <div class="row">

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat1">Fullscreen responsive pages. Optimized to work for all screen sizes and devices</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat1">Embed your calculator on your blog or site, without ever diverting visitors</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat1">Embed your calculator inside a popup or inside of a slide in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- Card -->
<div class="container">

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 settingFeatures1">
            <p style="color:#FB6C73;font-size:24.5px;">CLOSE THE MARKETING LOOP</p>
            <div class="row textlines">
                <i class="large material-icons">trending_up</i> &emsp;CONFIRMATION EMAILS
            </div>
            <br>
            <div class="row textlines">

                <i class="large material-icons">ac_unit</i> &emsp;DYNAMIC TEXT
            </div>
            <br>
            <div class="row textlines">

                <i class="large material-icons">devices</i> &emsp;ONE CLICK SETUP
            </div>
            <br>
            <br>

            <div class="row textlines">
                Send marketing emails with personalized text right from our development studio.
            </div>
        </div>
        <div class="col-lg-7">
            <img class="imgC1" src="assets/images/f08.jpg">
            <img class="imgC2" src="assets/images/f09.jpg">
        </div>
    </div>
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <!-- <div class="col-lg-2"></div> -->
        <div class="col-lg-12">
            <p style="font-size:40px;text-align:center">End To End Analytics</p>
                
                <p style="color:#62696d;font-size:18px;line-height:normal;text-align:center">Get complete information about the users who used your calculator. Complete Funnel Visualization</p>
            
        </div>

    </div>
    <br>
    <div class="row">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-5">
            <img src="assets/images/f06.jpg" class="center1">

        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
            <img src="assets/images/f07.jpg" class="center1">

        </div>

    </div>
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 settingFeatures1">
            <p style="color:#FB6C73;font-size:24.5px;">GENERATE NEW TARGETED LEADS</p>
            <div class="row textlines">
                <i class="large material-icons">trending_up</i> &emsp;FLEXIBLE LEAD GEN
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">ac_unit</i> &emsp;OPTMIZED FOR CONVERSION
            </div>
            <br>
            <br>

            <div class="row textlines">
                Step up your social game with just one click. It really is that simple!
            </div>
        </div>
        <div class="col-lg-7">
            <img class="imgB1" src="assets/images/f04.jpg">
            <img class="imgB2" src="assets/images/f05.jpg">
        </div>
    </div>
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Card -->
    <div class="row">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-7">
            <img class="imgA1" src="assets/images/f02.png">
            <img class="imgA2" src="assets/images/f03.png">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4 settingFeature">
            <p style="color:#FB6C73;font-size:24.5px;">IMPROVE SOCIAL FOOTPRINT</p>
            <div class="row textlines">
                <i class="large material-icons">trending_up</i> &emsp;ADD SHARE CALL TO ACTIONS.
            </div>
            <br>
            <div class="row textlines">
                <i class="large material-icons">trending_up</i> &emsp;EMBED LIKE & FOLLOW BUTTONS.
            </div>
            <br>
            <br>

            <div class="row textlines">
                Step up your social game with just one click. It really is that simple!
            </div>
        </div>
    </div>
    <!-- Card ends here -->
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <!-- <div class="col-lg-3"></div> -->
        <div class="col-lg-12">
            <p style="color:#fb5f66;font-size:42px;text-align:center;font-family:montserratultra_light - 400">Over 500 Integrations</p>
                
                <p style="color:#62696d;font-size:18px;text-align:center;font-family:montserratultra_light - 500">Easily Integrate with Over 500 sales & marketing tools</p>
            

        </div>
    </div>



    <div class="row">
        <!-- <div class="col-lg-2"></div> -->
        <div class="col-lg-12 ">
            <img src="assets/images/f01.PNG" style="-webkit-box-shadow: 0 0 20px #DBDBDB;box-shadow: 0 0 20px #DBDBDB;padding:25px ">
        </div>
    </div>

    <br>
    <br>

</div>
<div class="row" style="background-color:#FB6C73;width:auto;text-align:center;font-size: 32px;color:white;display:block;padding-top:37px">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-3">
                <i class="large material-icons featureredicons" style="font-size: 1.50em;">supervisor_account</i>
            </div>
            <div class="col-lg-3">
                <i class="large material-icons featureredicons" style="font-size: 1.50em;">view_comfy</i>
            </div>
            <div class="col-lg-3">
                <i class="large material-icons featureredicons" style="font-size: 1.50em;">perm_phone_msg</i>
            </div>
            <div class="col-lg-3">
                <i class="large material-icons featureredicons" style="font-size: 1.50em;">vpn_lock</i>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <h5 class="feathead">TEAMS</h5>
            </div>
            <div class="col-lg-3">
                <h5 class="feathead">AGENCY ACCOUNTS</h5>
            </div>
            <div class="col-lg-3">
                <h5 class="feathead">SUPPORT</h5>
            </div>
            <div class="col-lg-3">
                <h5 class="feathead">SSL SECURE</h5>
            </div>
        </div>
        <div class="row">
            <p></p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat">Easily collaborate with your colleagues while managing access and permissions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat">Run an agency? No Problem. Manage clients' calculators with just one agency account.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat">Get 24/7 access to our expert support team for anything you need.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="feat">All calculators are secured via SSL to ensure safety of client data.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p></p>>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <button type="button" class="feabutton">
                    <p style="color:#62696d;font-size:15px;margin-top:5px">
                        <i class="large material-icons buttonicon" style="font-size:1.70em;">view_compact</i>&nbsp;BUILD YOUR INTERACTIVE EXPERIENCE</p>
                </button>
            </div>
        </div>

        <div class="row"></div>

    </div>

    <br>
</div>