/*################### Feature Page responsive css start ###################*/
@media (min-width: 320px) and (max-width:768px) {
	.usecase .section-usecase1-left {
		padding: 0;
	}
	.usecase .section-usecase1-left .section-usecase1-new span i{
		margin-right:10px;
	}
	.gallery-content-center .abc{
		margin-left:0px;
	}
	.usecase .section-usecase2-left {
		padding: 0;
	}
	.usecase .section-usecase2-left .section-usecase2-new span i{
		margin-right:10px;
	}
	.useCase-heading{
		margin-top:10px;
		text-transform: none;
		line-height: normal;
		font-size: 22px;
		text-align: center;
	}
	.section-usecase1 {
		margin-top: 0px;
		margin-bottom: 30px !important;
	}
	.section-usecase2 {
		margin-top: 0px;
		margin-bottom: 30px !important;
	}
	.res-tab{
		width:180px;
	}
	.usecase .gallery-content-center .abc{
		margin-top:0px;margin-bottom: 0px;
	}

	/* example page responsive css by Arti */
		.tab-inner-frame iframe {display: none;}
		.calc-links a {
			width: auto !important;
			float: none !important;
		}
		.sec-outgrowMagic img.thumb-calc {
			margin-right: 8px;
			margin-bottom: 30px;
			width: auto;
		}
		.sec-outgrowMagic img.thumb-calc {
			margin-right: 8px;
			margin-bottom: 30px;
		}
		.sec-example .sec-outgrowMagic-title {margin-top: 0px !important; margin-bottom: 0px;}
		.sec-example .section-2-subheading{display:  block;}
		.sec-example .sec-outgrowMagic {margin-bottom: 0px;}
		.sec-example .sec-outgrowMagic-title {padding: 20px 0px;}
		.sec-example .section-2-heading { font-size: 22px;}
		.sec-example .section-2-subheading {font-size: 14px; line-height: normal;margin-top: 5px; padding: 0 15px;}
		.usecase .section-usecase2-left h4 {font-size: 20px;}
		.usecase .section-usecase1-left h4 {font-size: 20px;}
		.tab-section .nav-tabs {margin-bottom: 20px !important;}		
		.bg2-img h3 {font-size: 22px; margin-bottom: 0px;}
		.bg1-img{padding: 50px 0px 90px;}

	/* end: example page responsive css by Arti */


}
	@media (min-width:480px) and (max-width: 768px){
	.section-usecase1 {
		margin-top: 0px;
		margin-bottom: 60px !important;
	}
	.section-usecase2 {
		margin-top: 0px;
		margin-bottom: 60px !important;
	}
	
}
@media (min-width:768px) and (max-width:768px){
	.container.mobile-container {
		padding: 0 10px;
	}
	.section-usecase2-left {
		padding: 0;
		width: 96%;
	}
	.usecase .section-usecase1-left {
		padding: 0;
		width:96%;
	}
	.usecase .img-res{
		width:96%;
	}
	.gallery-content{
		margin-top:50px !important;
	}
}
@media (min-width: 769px) and (max-width:990px) {
	.useCase-heading{
		margin-top: 30px;
	}
	.usecase .section-usecase1-left{
		padding-left:15px;
		padding-right:50px;
	}

	/* example page responsive css by Arti */
	.tab-inner-frame iframe {display: none;}
	.calc-links a {
		width: auto !important;
		float: none !important;
	}
	.sec-outgrowMagic img.thumb-calc {
		margin-right: 8px;
		margin-bottom: 30px;
	}
	.sec-outgrowMagic img.thumb-calc {
		margin-right: 8px;
		margin-bottom: 30px;
		width: auto !important;
	}
	.sec-example .sec-outgrowMagic-title {margin-top: 0px !important;}
	.sec-example .section-2-subheading{display:  block;}
	.rs-show .calc-links {
		display: block;
		margin-top: 0px;
	}

	/* end: example page responsive css by Arti */

}
@media (min-width: 1024px) and (max-width:1250px) {
	.collage-outer{
		margin-left:-10px;
		margin-right:-10px;
	}
	.collage-solid.s-first {
		top: -62px;
		left: 16%;
	}
	.collage-hollow.h-sec {
		left: 16%;
		top: 42%;
	}
	.collage-hollow.h-third {
		left: 32%;
		top: 0%;
	}
	.collage-solid.s-fourth {
		top: -30%;
		left: 51%;
	}
	.collage-solid.s-third {
		top: 83px;
		left: 48%;
	}
	.collage-hollow.h-fourth {
		top: -32%;
		left: 67%;
	}
	.collage-solid.s-fifth {
		top: -58%;
		left: 83%;
	}
	.collage-hollow.h-fifth {
		top: 15%;
		left: 85%;
	}
	.collage-solid.s-sixth {
		top: 42%;
		left: 69%;
	}
	
	.container-fluid > .navbar-header{
		margin-left:-30px;
	}
	/*.custom-navbar.navbar-default .navbar-nav > li > a{
		padding-top: 15px;
		padding-left: 35px;
	}*/
	.custom-navbar.navbar-default .navbar-nav > li{
		margin-right:0px;
	}
	.usecase .gallery-content-center .abc {
		width: 100%;
		float: left;
		margin-left: 0;
	}
	.usecase .section-usecase2-left h4{
		margin-top:0px;
	}
}
@media (max-width: 1250px) and (min-width: 1024px){
	
}
@media (min-width: 1480px) and (max-width:1800px) {
	
}
@media (min-width: 1810px) and (max-width:1920px) {
	
}
@media (min-width: 1480px) and (max-width:1920px) {
	
}


/*################### Feature Page responsive css end ###################*/

@media (min-width:1921px) and (max-width:6500px){
	.custom-navbar.navbar-default.nav-boxshadow {padding: 15px 0px !important;}
	.navbar-brand {padding-top: 12px;}
	.custom-navbar.navbar-default .navbar-nav>li>a,.section-1-left .btn-bottominfo label,.section-1-left .btn-bottominfo span{font-size:20px}
	.custom-navbar.navbar-default{padding-top:35px; padding-bottom: 35px;}
	.custom-navbar .signUp-style a{
	    padding: 10px 14px;
		top: -5px;
		font-size: 20px !important;
		border-radius: 25px;
	}
	#footer{padding-top: 80px; padding-bottom: 30px;}
	.footer-link h4 {font-size: 36px; margin-bottom: 40px;}
	.footer-copyright p, .footer-link ul li a {font-size: 23px;}
	.footer-img-text {font-size: 22px;}
	.footer-social ul li a {font-size: 23px;}
	.footer-copyright {margin-bottom: 30px;}
	.footer-copyright i {font-size: 24px;}
	.footer-copyright span {font-size: 24px;}
	.footer-copyright img {width: 100%;}
	.container {width: 60%;}

	.sec-example .section-2-heading{font-size: 96px; margin-top: 120px; margin-bottom: 30px;}
	.sec-example .section-2-subheading {font-size: 58px; padding: 0;margin-bottom: 50px !important; margin-top: 20px;}
	.useCase-heading {font-size: 104px;}
	.sec-example .sec-outgrowMagic-title {margin: 80px 0px;}
	.usecase .section-usecase2-left h4 {font-size: 76px; margin-bottom: 20px;}
	.usecase .section-usecase2-left p {font-size: 44px; margin-bottom: 15px; margin-top: 15px;}
	.usecase .section-usecase2-left .section-usecase2-new span i {
		font-size: 44px;
		margin-top: 10px;
		margin-right: 40px;
	}
	.usecase .section-usecase2-left .section-usecase2-new span span {font-size: 43px;}
	.usecase img.box-shadow {width: 100%;}
	.usecase .section-usecase2-left {padding-right: 60px;}
	.tab-section .nav-tabs {margin: 80px 0px 60px;}
	.tab-section .nav-tabs > li > a{padding: 30px 100px; font-size: 34px !important;}
	.tab-section .nav-tabs > li.active i {
		left: 35px;
		top: 34px;
		font-size: 44px;
	}
	.usecase .section-usecase1-left h4 {font-size: 76px; margin-bottom: 20px;}
	.usecase .section-usecase1-left p {
		font-size: 44px;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.usecase .section-usecase1-left .section-usecase1-new span span {font-size: 43px;}
	.usecase .section-usecase2-left .section-usecase2-new span,
	.usecase .section-usecase1-left .section-usecase1-new span{
		margin-bottom: 15px; 
		margin-top: 15px;
	}
	.usecase .section-usecase1-left .section-usecase1-new span i {
		font-size: 44px;
		margin-right: 40px;
		margin-top: 8px;
	}
	.usecase .section-usecase1-left {padding-left: 100px;}
	.gallery-content-center .abc { margin-bottom: 60px;}
	.bg1-img {padding: 120px 0;}
	.bg1-img .btn-buildcal{
		font-size: 45px;
		padding: 52px 75px;
		border-radius: 80px;
		line-height: 54px;
	}
	.start-trial-cta .btn-buildcal i{
		margin-right: 30px;
		font-size: 54px;
		top: 0;
	}
	.start-trial-cta .btn-buildcal p {line-height: normal;}
	.sec-example .sec-outgrowMagic {
		margin-bottom: 100px;
    	margin-top: 50px;
	}
	.calc-links {margin-top: 90px;}
	.usecase .sec9-test {    margin-top: 20px;}
	.usecase-category.abc { margin-top: 60px; margin-bottom: 100px;}


}

@media(min-width:320px) and (max-width:990px) {	
	.custom-container {padding: 0 20px!important;width:100%!important;}
	.case-breathers{padding-bottom: 40px; margin-top: 0px;}
	.case-breathers-leftSide {width: 100%!important;}
	.case-breathers img {
		float: none;
		width: auto;
		margin: 0px auto 0 !important;
	}
	.case-breathers-rightSide {
		float: none;
		text-align: center;
		width: 100% !important;
		margin-left: 0px !important;
		/* margin-top: 30px !important; */
	}
	.case-breathers-rightSide h1.heading {
		font-size: 18px!important;
		padding-top: 30px;
		text-align: center;
		text-transform: none;
		line-height: 22px !important;
	}

}


@media (max-width:1024px){
	ul.pre-temp-cat{float: left; width: 100%;padding: 0;        margin: 0px 0 20px; text-align: center}
	ul.pre-temp-cat li{float: none; display: inline-block; width: auto; }
	.pre-temp-cont{float: left; width: 100%; padding: 0}
}
@media (max-width:767px){
	.pre-temp-view{float: left; width: 100%; max-width: 100%; margin: 25px 0px;}
	ul.pre-temp-list{float: left; width: 100%; padding: 0}
	.heading-content h3{font-size: 16px; line-height: 22px}
	.heading-content p{font-size: 13px; line-height: 22px;}
}
@media (max-width:580px){
	ul.nav.nav-tabs.template-tab li a{border: 2px solid #fff !important; border-radius: 4px }
	ul.nav.nav-tabs.template-tab li{margin-bottom: 15px}
	ul.nav.nav-tabs.template-tab li:last-child{margin: 0}
	.new-template-choose .top-heading{padding: 15px 0; height: auto}
	ul.pre-temp-cat li{margin:0 5px 5px}
	.content.temp-info h3 {font-size: 13px;padding: 0; margin-bottom: 10px; width:100%;}
	.content.temp-info{display: block; text-align: center}
	.content.temp-info .btn.btn-red{float: none !important; display: inline-block !important;}
	.content.temp-info h3 span {
		float: none;
		margin-left: 0;
		text-align: center;
	}
	.pre-temp-view .content.temp-info .btn.btn-red{margin-left: 5px; margin-bottom: 10px;}

}