
<hr>
<!-- <img src="/images/startfree.jpg" height="200" width="100%"/> -->

  <div class="container">
   
    <div class="row">
      <!-- This is Overview box within a row of using 3 columns -->
      <div class="col-lg-2">

        <p class="footerpara"><b>OVERVIEW</b></p>





            <div class="row">
              <a routerLink="why-interactive" class="overview">Why Interactive Content?</a>
            </div>
            <div class="row"><p></p></div>


            <div class="row">
              <a routerLink="features" class="overview">Features</a>
            </div>
            <div class="row"><p></p></div>


            <div class="row">
              <a routerLink="examples" class="overview">Examples</a>
            </div>
          <div class="row"><p></p></div>


            <div class="row">
              <a href="#" class="overview">Idea Generator</a>
            </div>
          <div class="row"><p></p></div>


            <div class="row">
              <a routerLink="pricing" class="overview">Pricing</a>
            </div>
          <div class="row"><p></p></div>


            <div class="row">
              <a href="https://outgrow.co/blog/" class="overview">Resources</a>
            </div>
          <div class="row"><p></p></div>


            <div class="row">
              <a href="https://outgrow.co/blog/about/" class="overview">About</a>
            </div>

      </div>
      <!-- End of This is Overview box within a row of using 3 columns -->

      <!-- In the same row we used 9 colums for arranging the pics -->
      <div class="col-lg-9 resourcesRight">
        <p class="footerpara"><b>RESOURCES</b></p>
        <div class="row">

          <div class="col-md-3 thumbnail">
            <img src="assets/images/img1.PNG" alt="Smiley face" height="102" width="186"/>
              <br>
              <div class="caption">
                <a class="rc" href="https://outgrow.co/blog/content-marketing-strategy-checklist"><p>Is Your Content Marketing Worth All The Effort? Consult Our 10 Point Checklist.</p></a>
              </div>
          </div>

          <div class="col-md-3 thumbnail">
            <img src="assets/images/img2.PNG" alt="Smiley face" height="102" width="186"/>

            <div class="caption">
              <a class="rc" href="https://outgrow.co/blog/interactive-calculators-content-make-digital-marketing-agency-stand-out/"><p>Make Your Digital Marketing Agency Stand Out</p></a>
            </div>
          </div>

          <div class="col-md-3 thumbnail">
            <img src="assets/images/img3.PNG" alt="Smiley face" height="102" width="186"/>

            <div class="caption">
              <a class="rc" href="https://outgrow.co/blog/university-college-calculators/"><p>7 Interactive Calculators Every University Needs on Its Website</p></a>
            </div>
          </div>

          <div class="col-md-3 thumbnail">
            <img src="assets/images/img4.PNG" alt="Smiley face" height="102" width="186"/>

            <div class="caption">
              <a class="rc" href="https://outgrow.co/blog/lead-retention-activate-cold-leads"><p>Lead Retention Made Easy! Activate Cold Leads with Calculators</p></a>
            </div>
          </div>

          <div class="col-md-3 thumbnail">
            <img src="assets/images/img5.PNG" alt="Smiley face" height="102" width="186"/>

            <div class="caption">
              <a class="rc" href="https://outgrow.co/blog/interactive-calculators-saas-companies/"><p>9 Calculators Every SaaS Company Should Consider</p></a>
            </div>
          </div>

          <div class="col-md-3 thumbnail">
            <img src="assets/images/img6.PNG" alt="Smiley face" height="102" width="186"/>

            <div class="caption">
              <a class="rc" href="https://outgrow.co/blog/courses/best-interactive-lead-generation-techniques/"><p>Value Added Marketing With Digital Experiences</p></a>
            </div>
          </div>

          <div class="col-md-3 thumbnail">
            <img src="assets/images/img7.PNG" alt="Smiley face" height="102" width="186"/>

            <div class="caption">
              <a class="rc" href="https://outgrow.co/blog/courses/lead-generation-with-calculators/"><p>Lead Generation With Interactive Calculators</p></a>
            </div>
          </div>

          <div class="col-md-3 thumbnail">
            <img src="assets/images/img8.PNG" alt="Smiley face" height="102" width="186"/>

            <div class="caption">
              <a class="rc" href="https://outgrow.co/blog/how-an-interactive-calculator-generated-11592-qualified-leads/"><p>How an Interactive Calculator Generated 11,592 Qualified Leads</p></a>
            </div>
          </div>
      </div>
    </div>
    <!-- End of In the same row we used 9 colums for arranging the pics -->
  </div>
<!-- End of Particular row that holds overview and resources -->

    <br>



    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-7">
        <span><a class="sns"  href="https://www.facebook.com/OutgrowCo/">Facebook</a></span>&emsp;
        <span><a class="sns"  href="https://www.linkedin.com/company/outgrow.co/">Linkedin</a></span>&emsp;
        <span><a class="sns"  href="https://twitter.com/outgrowco/">Twitter</a></span>&emsp;
        <span><a class="sns"  routerLink="privacy-policy">Privacy Policy</a></span>&emsp;
        <span><a class="sns"  routerLink="tos">Terms of services</a></span>&emsp;
        <span><a class="sns"  href="#">Contact us</a></span>&emsp;
        <span><a class="sns"  href="https://angel.co/venturepact/jobs/">Careers</a></span>&emsp;

      </div>
    </div>


    <br>
    <div class="row">
      <div class="col-lg-5">
      </div>
      <div class="col-lg-5">
        <p style="color:grey;font-family: montserratlight - 400;font-size:12px;font-weight:400">401 Park Ave, 10th Floor, New York 10016</p>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-5">
      </div>
      <div class="col-lg-5">
        <img src="assets/images/og.PNG" width="250" height="30"/>
      </div>
    </div>

    <div class="row">
      <br>
    </div>

</div>

