/* .pricing_heading{
    font-family: montserratregular - 400;
    font-weight: 400;
    background-color:#FB6C73;
    width:auto;
    height:100px;
    text-align:center;
    font-size: 30px;
    color:white;
    display:block;
    padding-top:37px;
}
.foobutton:hover{
    background-color: #FB757B;
    border: 2px solid #FB5F66;
    text-decoration:none;
  }
  .foobutton{
      margin-top: 25px;
    height:50px;
    width:250px;
    border-radius: 22.5px;
    font-family: montserratlight - 500;
    border: 1px solid #FB5F66;
    background-color: #FB5F66;
    color:white;
  } */
  /* .display{
    overflow: hidden;
    height: 9.9136px;
    padding-top: 3.813px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  } */