.pricing_heading{
    font-family: montserratregular - 400;
    font-weight: 400;
    background-color:#FB6C73;
    width:auto;
    height:100px;
    text-align:center;
    font-size: 30px;
    color:white;
    display:block;
    padding-top:37px;
}

#plan-cycle {
    z-index: 9;
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 17%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.billing-plan-list {
    border: 1px solid #bfd5df;
    border-radius: 4px;
    background: #fff;
    float: none;
    /* width: 22%; */
    max-width: 290px;
    margin: 0px auto 30px;
}
.np {
    padding: 0;
}
.billing-plan-list ul {
    padding: 0;
    margin: 0;
}
ol, ul {
    margin-bottom: 10px;
}
dl, ol, ul {
    margin-top: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.billing-plan-list ul>li {
    display: table-cell;
    width: 1%;
}
#pricing .billing-plan-list ul>li>a {
    padding: 16px 0;
}
.billing-plan-list ul>li:nth-child(1)>a {
    color: #8e989f;
    font-size: 12px;
    text-transform: none;
    border: none !important;
    border-right: 1px solid #bfd5df !important;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.billing-plan-list ul>li>a {
    color: #62696d !important;
    font-size: 12px;
    text-transform: none;
    border: none !important;
    border-right: 1px solid #bfd5df !important;
    border-radius: 0;
    background: 0 0;
    padding: 8px;
    line-height: 17px;
    display: block;
    overflow: hidden;
}

.billing-plan-list ul>li.active a {
    /* background: #f6f8f9 !important; */
    color: #fb5f66 !important;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0 );
}

.hvr-sweep-to-right {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    transition-duration: .3s;
}
.hvr-back-pulse, .hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
}
.hvr-fade, .hvr-sweep-to-right {
    -webkit-transition-duration: .3s;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.billing-plan-list ul>li {
    display: table-cell;
    width: 1%;
}

.pricing-outer {
    clear: both;
    margin-top: 40px;
    width: 950px;
    padding: 0;
}

table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
pre code, table {
    background-color: transparent;
}
colgroup {
    display: table-column-group;
}
colgroup:nth-child(1) {
    width: 25%;
    border: 0 none;
}
colgroup:nth-child(2) {
    width: 25%;
    border: 1px solid #eff0f1;
}
colgroup:nth-child(3) {
    width: 25%;
    border: 1px solid #bed4df;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .10);
    /* display: table-column; */
    right: 237px;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: 3;
    border-top: none;
}
colgroup:nth-child(4) {
    right: 0;
    position: absolute;
    top: -1px;
    height: 100%;
    z-index: 0;
    width: 25%;
    border: 1px solid #eff0f1;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
thead th:nth-child(1) {
    background: transparent;
    vertical-align: bottom;
    font-size: 13px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 10px;
}
thead th:nth-child(1) span {
    padding: 0;
    text-align: left;
    cursor: pointer;
    width: auto;
}
thead th h2 {
    font-size: 15px;
    color: #62696d;
    font-family: montserratlight;
    text-transform: uppercase;
    margin-top: 35px;
}
thead th p.strike-price {
    color: #abb7bc;
    font-size: 12px;
    font-family: montserratlight;
    text-decoration: line-through;
    margin: 0px;
    line-height: normal;
    margin-bottom: 5px;
}
thead th p.strike-price sub {
    font-family: montserratlight;
    font-size: 75%;
}
thead th sub {
    font-size: 14px;
    bottom: 0px;
    font-family: montserratlight;
    left: 0px;
}
sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
}
.label, sub, sup {
    vertical-align: baseline;
}
thead th p.price {
    font-size: 36px !important;
    color: #009ad8;
    font-family: montserratsemibold !important;
    line-height: normal;
    text-align: center;
}
p {
    margin: 0 0 10px;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
thead th p.strike-price {
    color: #abb7bc;
    font-size: 12px;
    font-family: montserratlight;
    text-decoration: line-through;
    margin: 0px;
    line-height: normal;
    margin-bottom: 5px;
}
thead th p.price {
    font-size: 36px !important;
    color: #009ad8;
    font-family: montserratsemibold !important;
    line-height: normal;
    text-align: center;
}
.monthly-price, .s-annual-price {
    display: none;
}
thead span {
    text-align: center;
    display: block;
    width: 50%;
    margin: 0 auto;
}
thead th p.price {
    font-size: 36px !important;
    color: #009ad8;
    font-family: montserratsemibold !important;
    line-height: normal;
    text-align: center;
}
th.active {
    cursor: text;
    background: url(https://cdn.filestackcontent.com/I9cqiZQTQyKo3uGT28WZ);
    z-index: 3;
    border-left: 1px solid #bed4df;
}
span.label-popularPlan {
    position: absolute;
    width: 100%;
    font-size: 10px;
    padding: 3px 5px;
    color: #fff;
    background-color: #8c8283;
    text-transform: uppercase;
    top: -8px;
    left: 0px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -6px 10px;
    border-top: 1px solid rgb(190, 212, 223);
}
thead span {
    text-align: center;
    display: block;
    width: 50%;
    margin: 0 auto;
}

thead th h2 {
    font-size: 15px;
    color: #62696d;
    font-family: montserratlight;
    text-transform: uppercase;
    margin-top: 35px;
}

thead th p.strike-price {
    color: #abb7bc;
    font-size: 12px;
    font-family: montserratlight;
    text-decoration: line-through;
    margin: 0px;
    line-height: normal;
    margin-bottom: 5px;
}
thead th p.price {
    font-size: 36px !important;
    color: #009ad8;
    font-family: montserratsemibold !important;
    line-height: normal;
    text-align: center;
}
.monthly-price, .s-annual-price {
    display: none;
}
thead span {
    text-align: center;
    display: block;
    width: 50%;
    margin: 0 auto;
}
thead th p.strike-price {
    color: #abb7bc;
    font-size: 12px;
    font-family: montserratlight;
    text-decoration: line-through;
    margin: 0px;
    line-height: normal;
    margin-bottom: 5px;
}
.monthly-price, .s-annual-price {
    display: none;
}
thead th p.strike-price {
    color: #abb7bc;
    font-size: 12px;
    font-family: montserratlight;
    text-decoration: line-through;
    margin: 0px;
    line-height: normal;
    margin-bottom: 5px;
}
thead span a {
    color: #fdfeff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    background: #fb6c73;
    border-radius: 4px;
    padding: 9px 10px;
    font-size: 13px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tbody th i.vis-hide {
    visibility: hidden;
}
tbody th i.material-icons {
    color: #2b93be;
    vertical-align: middle;
    position: relative;
    top: -2px;
    visibility: visible;
    padding-right: 5px;
    font-size: 20px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
tbody tr:first-child td {
    /* padding-top: 10px; */
}
tbody td {
    background: #fff;
    text-align: left;
    font-family: montserratlight;
    padding: 15px;
    line-height: 1;
    z-index: 2;
    position: relative;
    width: 25%;
}
th, td {
    font-family: montserratregular;
    font-size: 12px;
    /* line-height: 1.45; */
    color: #797f83;
    vertical-align: top;
    /* padding: 10px; */
}
td, th {
    padding: 0;
}
.quater {
    background: url(https://cdn.filestackcontent.com/jPJvrC2nQi2kRB1MeGUq) no-repeat;
    width: 13px;
    height: 13px;
    background-position: center;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}
tbody tr:first-child td {
    /* padding-top: 10px; */
}
td.active-bg {
    background: url(https://cdn.filestackcontent.com/I9cqiZQTQyKo3uGT28WZ);
    border-left: 1px solid #bed4df;
    border-right: 1px solid #bed4df;
}
tbody td {
    background: #fff;
    text-align: left;
    font-family: montserratlight;
    padding: 15px;
    line-height: 1;
    z-index: 2;
    position: relative;
    width: 25%;
}
th, td {
    font-family: montserratregular;
    font-size: 12px;
    /* line-height: 1.45; */
    color: #797f83;
    vertical-align: top;
    /* padding: 10px; */
}
td, th {
    padding: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.half {
    background: url(https://cdn.filestackcontent.com/WIbfARSQyq4KqKfJGLx4) no-repeat;
    width: 13px;
    height: 13px;
    background-position: center;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}
.full {
    background: url(https://cdn.filestackcontent.com/Mcu6lZxSdC4be8yWuAm5) no-repeat;
    width: 13px;
    height: 13px;
    background-position: center;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.expand {
}
.expand.open th > .minus, .expand th > .plus {
    display: inline-block;
}
tbody th i.material-icons {
    color: #2b93be;
    vertical-align: middle;
    position: relative;
    top: -2px;
    visibility: visible;
    padding-right: 5px;
    font-size: 20px;
}
.expand th > .minus, .expand.open th > .plus {
    display: none;
}
tbody th i.material-icons {
    color: #2b93be;
    vertical-align: middle;
    position: relative;
    top: -2px;
    visibility: visible;
    padding-right: 5px;
    font-size: 20px;
}
td.active-bg {
    background: url(https://cdn.filestackcontent.com/I9cqiZQTQyKo3uGT28WZ);
    border-left: 1px solid #bed4df;
    border-right: 1px solid #bed4df;
}
tbody td {
    background: #fff;
    text-align: left;
    font-family: montserratlight;
    padding: 15px;
    line-height: 1;
    z-index: 2;
    position: relative;
    width: 25%;
}
th, td {
    font-family: montserratregular;
    font-size: 12px;
    /* line-height: 1.45; */
    color: #797f83;
    vertical-align: top;
    /* padding: 10px; */
}
.pricing-block {
    display: none;
}
.monthly-price, .s-annual-price {
    display: none;
}
.detail {
    display: none;
    line-height: 16px;
    color: #2b93be;
    font-size: 11px;
    padding: 10px 0px 0px 10px;
    font-family: montserratlight;
    float: left;
    width: 100%;
}
span.label-popularPlan {
    position: absolute;
    width: 100%;
    font-size: 10px;
    padding: 3px 5px;
    color: #fff;
    background-color: #8c8283;
    text-transform: uppercase;
    top: -8px;
    left: 0px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -6px 10px;
    border-top: 1px solid rgb(190, 212, 223);
}
.monthly-price, .s-annual-price {
    display: none;
}
.enterprise_pos {
    /* background: #fff; */
    padding-bottom: 70px;
}
.section-1 .container-fluid {
    padding: 0;
    background: #f3f8fb;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}}
@media (min-width: 992px){
.col-md-12 {
    width: 100%;
}}

@media (min-width: 992px){
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}}
@media (min-width: 768px){
.col-sm-12 {
    width: 100%;
}}

@media (min-width: 768px){
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}}

@media (max-width: 1920px) and (min-width: 1440px){
#pricing .pricing-headingtop {
    background: linear-gradient(to bottom, #fb6c73 448px, #fff 100px);
}}

#pricing .pricing-headingtop {
    float: left;
    background: #fb6c73;
    margin-bottom: 40px;
}
.hide {
    display: none!important;
}



.text-center {
    text-align: center;
}
#pricing{
    font-family: montserratregular;
    color: #8e989f;
}
#pricing .pricing-headingtop .plans-heading, #pricing .pricing-headingtop .plans-subheading {
    color: #fff;
    font-family: montserratlight;
    width: 100%;
    display: inline-block;
}
#pricing .pricing-headingtop .plans-heading {
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 30px;
    text-transform: none;
}
#pricing .pricing-headingtop .plans-heading {
    margin-bottom: 5px;
    margin-top: 25px;
    font-size: 30px;
    text-transform: uppercase;
}