<br><br><br>
<div class="row pricing_heading">
  Plans and Pricing
</div>

          <!-- <p class="plans-subheading">Simple pricing, No Hidden costs, No transaction based fees.</p> -->
          <section id="plan-cycle" class="hide">


              <div class="col-md-12 col-sm-12 col-xs-12 np billing-plan-list" id="plans">
                  <ul>
                      <li class="cycle-tab active" id="annually">
                          <a href="javascript:void(0)" class="hvr-sweep-to-right view">
                              <i class="material-icons">check</i> Annual
                              <!-- <label class="save-per">Save 10%</label> -->
                          </a>
                      </li>
                      
                      <li class="cycle-tab" id="monthly">
                          <a href="javascript:void(0)" class="hvr-sweep-to-right view">
                              <i class="material-icons">check</i> Monthly
                          </a>
                      </li>
                  </ul>
              </div>
          </section>
     
      
      <section id="plan-cycle">
          <div class="col-md-12 col-sm-12 col-xs-12 np billing-plan-list">
              <ul role="tablist">
                  <li class="cycle-tab active annual" id="annual" role="presentation">
                      <a class="hvr-sweep-to-right view" data-toggle="tab" href="javascript:void(0)" role="tab" onClick="showCycle('annual')">
                          <!-- <i class="material-icons">check</i>--> Annual (save 40%)
                          <!-- <label class="save-per">Save over 44%</label> -->
                      </a>
                  </li>
                  <li class="cycle-tab monthly" id="monthly" role="presentation">
                      <a class="hvr-sweep-to-right view" data-toggle="tab" href="javascript:void(0)" role="tab" onClick="showCycle('monthly')">
                          <!--<i class="material-icons">check</i>--> Monthly
                      </a>
                  </li>
              </ul>
          </div>
      </section>

<div class="pricing-outer container" id="pricing">
  <table>

      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>

      <thead>
          <tr class="">
              <th>
                  <span class="expand-all">
                      <i class="material-icons plus">add</i>
                      <i class="material-icons minus">remove</i> 
                       &nbsp;Show Detailed Pricing
                  </span>
              </th>
              <th>
                  <h2>Freelancer</h2>                                
                  <span class="annual-price">
                      <p class="strike-price">$45<sub>/mo.</sub></p>
                      <p class="price"><sup>$</sup>25<sub>/mo.</sub></p>
                  </span>
                  <span class="s-annual-price">
                      <p class="strike-price">$45<sub>/mo.</sub></p>
                      <p class="price"><sup>$</sup>30<sub>/mo.</sub></p>
                  </span>
                  <span class="monthly-price">
                      <!--<p class="strike-price">$45<sub>mo.</sub></p>-->
                      <p class="price"><sup>$</sup>45<sub>/mo.</sub></p>
                  </span>
                  <span class=""><a href="//app.outgrow.co" target="_blank" class="signuplink params btn-hover">Start trial</a></span>
              </th>
              <th class="active">
                  <!-- <span class="ribbon">Most Popular</span> -->
                  <span class="label-popularPlan">Most Popular</span>
                  <h2>Essentials</h2>
                  <span class="annual-price">
                      <p class="strike-price">$115<sub>/mo.</sub></p>
                      <p class="price"><sup>$</sup>95<sub>/mo.</sub></p>
                  </span>
                  <span class="s-annual-price">
                      <p class="strike-price">$115<sub>/mo.</sub></p>
                      <p class="price"><sup>$</sup>105<sub>/mo.</sub></p>
                  </span>
                  <span class="monthly-price">
                      <!--<p class="strike-price">$45<sub>/mo.</sub></p>-->
                      <p class="price"><sup>$</sup>115<sub>/mo.</sub></p>
                  </span>
                  <span class=""><a href="//app.outgrow.co" target="_blank" class="signuplink params btn-hover">Start trial</a></span>
              </th>
              <th>
                  <h2>Business</h2>
                  <span class="annual-price">
                      <p class="strike-price">$720<sub>/mo.</sub></p>
                      <p class="price"><sup>$</sup>600<sub>/mo.</sub></p>
                  </span>
                  <span class="s-annual-price">
                      <p class="strike-price">$720<sub>/mo.</sub></p>
                      <p class="price"><sup>$</sup>667<sub>/mo.</sub></p>
                  </span>
                  <span class="monthly-price">
                      <!--<p class="strike-price">$45<sub>/mo.</sub></p>-->
                      <p class="price"><sup>$</sup>720<sub>/mo.</sub></p>
                  </span>
                  <span class="">
                      <a href="//app.outgrow.co" target="_blank" id="b-signup" class="signuplink params btn-hover">Start trial</a>                                    
                      <a href="javascript:void(0);" class="link-contact intercom_trigger" id="intercom_trigger">Contact us</a>
                  </span>
              </th>
          </tr>
      </thead>

      <!--<tfoot>
          <tr>
              <th>&nbsp;</th>
              <td><a href="#">Start trial</a></td>
              <td><a href="#">Start trial</a></td>
              <td><a href="#">Start trial</a></td>
          </tr>
      </tfoot>-->

      <tbody>
          <tr class="not-info">
              <th><i class="material-icons vis-hide">add</i> Leads & Visits </th>
              <td><span class="quater"></span>300 & 6000</td>
              <td  class="active-bg"><span class="half"></span>1000 & 20000</td>
              <td><span class="full"></span>15000 & 300000</td>
          </tr>
          <tr class="not-info">
              <th><i class="material-icons vis-hide">add</i> No. of Experiences</th>
              <td><span class="quater"></span>3</td>
              <td class="active-bg"><span class="full"></span>Unlimited</td>
              <td><span class="full"></span>Unlimited</td>
          </tr>
          <!-- <tr class="not-info">
              <th><i class="material-icons vis-hide">add</i> Collaborators</th>
              <td><span class="quater"></span>1</td>
              <td class="active-bg"><span class="half"></span>3</td>
              <td><span class="full"></span>10</td>
          </tr> -->
          <tr class="expand">
              <th>
                  <i class="material-icons plus">add</i>
                  <i class="material-icons minus">remove</i> Templates and Layouts
              </th>
              <td class="expand-child">
                  <span class="quater"></span>Basic Templates & Layout
                  <span class="detail">Only the Classic "Chicago and Londoner" layout and templates.</span>
              </td>
              <td class="expand-child active-bg">
                  <span class="full"></span>All Templates & Layouts
                  <span class="detail">All layouts and templates are unlocked.</span>
              </td>
              <td class="expand-child">
                  <span class="full"></span>All Templates & Layouts
                  <span class="detail">All layouts and templates are unlocked.</span>
              </td>
          </tr>
          
          <tr class="expand">
              <th>
                  <i class="material-icons plus">add</i>
                  <i class="material-icons minus">remove</i> 
                  Hosting and Embedding
              </th>
              <td class="expand-child">
                  <span class="half"></span>Embed Anywhere
                  <span class="detail">Experience hosted on Outgrow domain [yourcompany.outgrow.co] and can be embedded on any webpage.</span>
              </td>
              <td class="expand-child active-bg">
                  <span class="half"></span>Embed Anywhere
                  <span class="detail">Experience hosted on Outgrow domain [yourcompany.outgrow.co] and can be embedded on any webpage.</span>
              </td>
              <td class="expand-child">
                  <span class="full"></span>Custom Domain
                  <span class="detail">Experience hosted on your company domain [yourcompany.com] and can be embedded on any webpage.</span>
              </td>                            
          </tr>
          
          <tr class="expand">
              <th>
                  <i class="material-icons plus">add</i>
                  <i class="material-icons minus">remove</i>
                  Charts and Graphs
              </th>
              <td>
                  <span class="none"></span>No Access
              </td>
              <td class="active-bg">
                  <span class="none"></span>No Access
              </td>
              <td class="expand-child">
                  <span class="full"></span>Full Access
                  <span class="detail">Increase interactivity by adding charts, graphs and tables to your experiences.</span>
              </td>
          </tr>
         
          <tr class="expand">
              <th>
                  <i class="material-icons plus">add</i>
                  <i class="material-icons minus">remove</i> 
                  Custom Branding
              </th>
              <td class="expand-child">
                  <span class="quater"></span>Limited Access
                  <span class="detail">You can add your own logo and use your brand’s colors. A small discreet Outgrow logo will appear.</span>
              </td>
              <td class="expand-child active-bg">
                  <span class="quater"></span>Limited Access
                  <span class="detail">You can add your own logo and use your brand’s colors. A small discreet Outgrow logo will appear.</span>
              </td>
              <td class="expand-child">
                  <span class="full"></span>Full Access
                  <span class="detail">You can add your own logo and use your brand’s colors. You can also remove the Outgrow Logo.</span>
              </td>
          </tr>
          <tr class="expand">
              <th>
                  <i class="material-icons plus">add</i>
                  <i class="material-icons minus">remove</i> 
                  Integrations
              </th>
              <td class="expand-child">                                
                  <span class="half"></span>Standard Integrations
                  <span class="detail">You can sync user's contact information using Zapier or over 17 native integrations with tools like Marketo, Salesforce, MailChimp, Aweber, Hubspot, GetResponse, Intercom, Sendlane, Drip, Slack etc.</span>                             
              </td>
              <td class="expand-child active-bg">                                
                  <span class="half"></span>Standard Integrations
                  <span class="detail">You can sync user's contact information using Zapier or over 17 native integrations with tools like Marketo, Salesforce, MailChimp, Aweber, Hubspot, GetResponse, Intercom, Sendlane, Drip, Slack etc. </span>                             
              </td>
              <td class="expand-child">                                
                  <span class="full"></span>Advanced Integrations
                  <span class="detail">Send all lead data using direct integrations, Zapier as well as Webhooks and our highly versatile API.</span>                             
              </td>
          </tr>
          
          <tr class="expand">
              <th>
                  <i class="material-icons plus">add</i>
                  <i class="material-icons minus">remove</i>  
                  Formula and Logic Jump
              </th>
              <td class="expand-child">                                
                  <span class="quater"></span>Limited Access
                  <span class="detail">You can use basic mathematical operators like +,-, x and /. Logic jump is not included.</span>                             
              </td>
              <td class="expand-child active-bg">                                
                  <span class="full"></span>Full Access
                  <span class="detail">You can use any mathematical (^, log etc) or logical (if then, average etc) operator as well as use visual logic jump [branching logic] to improve personalization.</span>                             
              </td>
              <td class="expand-child">                                
                  <span class="full"></span>Full Access
                  <span class="detail">You can use any mathematical (^, log etc) or logical (if then, average etc) operator as well as use visual logic jump [branching logic] to improve personalization.</span>                             
              </td>
          </tr>
          <tr class="expand">
              <th>
                  <i class="material-icons plus">add</i>
                  <i class="material-icons minus">remove</i> 
                  Analytics and Tracking
              </th>
              <td class="expand-child">                                
                  <span class="quater"></span>Limited Access
                  <span class="detail">Traffic Details, Lead Data and User Responses.</span>                             
              </td>
              <td class="expand-child active-bg">                                
                  <span class="half"></span>Standard Access
                  <span class="detail">Traffic Details, Lead Data and User Responses. Can add Facebook and Google Analytics tracking codes.</span>                             
              </td>
              <td class="expand-child">                                
                  <span class="full"></span>Advanced Access
                  <span class="detail">Traffic Details, Lead Data, User Responses & Funnel Visualization. Can add all tracking codes.</span>                             
              </td>
          </tr>
          <tr class="expand">
              <th>
                  <i class="material-icons plus">add</i>
                  <i class="material-icons minus">remove</i> Advanced Features
              </th>
              <td class="expand-child">
                  <span class="none"></span>No Access
                  <!-- <span class="detail"></span> -->
              </td>
              <td class="expand-child active-bg">
                  <span class="quater"></span>Limited Access
                  <span class="detail">Access to conditional messaging.</span>
              </td>
              <td class="expand-child">
                  <span class="full"></span>Advanced Access
                  <span class="detail">Access to conditional messaging, email embeds, email validation, custom HTML/CSS/JS and custom notifications.</span>
              </td>           
          </tr>
          <tr class="expand">
              <th>
                  <i class="material-icons plus">add</i>
                  <i class="material-icons minus">remove</i> 
                  Support
              </th>
              <td class="expand-child">                                
                  <span class="quater"></span>Support Docs
                  <span class="detail">You will have access to support docs.</span>                             
              </td>
              <td class="expand-child active-bg">                                
                  <span class="half"></span>Basic
                  <span class="detail">You will have access to support docs as well as email support. We will try to answer all queries within 24-48 hours.</span>                             
              </td>
              <td class="expand-child">                                
                  <span class="full"></span>Priority
                  <span class="detail">You will have access to support docs, email support as well as live chat.</span>                             
              </td>
          </tr>
      </tbody>

  </table>

  <!-- start: for responsive -->

      <!-- freelancer -->
      <div class="col-md-12 col-sm-12 col-xs-12 np pricing-block">
          <div class="pricing-top">
              <h3>Freelancer</h3>
              <span class="annual-price">
                  <p class="strike-price">$45<sub>/mo.</sub></p>
                  <p class="price"><sup>$</sup>25<sub>/mo.</sub></p>
              </span>
              <span class="s-annual-price">
                  <p class="strike-price">$45<sub>/mo.</sub></p>
                  <p class="price"><sup>$</sup>30<sub>/mo.</sub></p>
              </span>
              <span class="monthly-price">
                  <!--<p class="strike-price"><sup>$</sup>45<sub>/mo.</sub></p>-->
                  <p class="price"><sup>$</sup>45<sub>/mo.</sub></p>
              </span>
              <span class=""><a href="//app.outgrow.co" target="_blank" class="signuplink params btn-hover">Start trial</a></span>
          </div>
          <div class="pricing-bottom">
              <ul class="features rs-hide">
                  <li>
                      <span class="feature-title">Leads & Visits</span>
                      <span class="feature-subtitle"><span class="quater"></span>300 & 6000</span>
                  </li>
                  <li>
                      <span class="feature-title">No. of Experiences</span>
                      <span class="feature-subtitle"><span class="quater"></span>3</span>
                  </li>
                  <!-- <li>
                      <span class="feature-title">Collaborators</span>
                      <span class="feature-subtitle"><span class="full"></span>1</span>
                  </li> -->
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Templates and Layouts
                      </span>
                      <span class="feature-subtitle"><span class="half"></span>Basic Templates & Layout </span>
                      <span class="detail">Only the Classic "Chicago and Londoner" layout and templates. </span>
                  </li>
                  <!-- <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Lead Generation
                      </span>
                      <span class="feature-subtitle"><span class="half"></span>Full Access </span>
                      <span class="detail">Add lead generation capabilities to any calculator or quiz.</span>
                  </li> -->
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Hosting and Embedding
                      </span>
                      <span class="feature-subtitle"><span class="half"></span>Embed Anywhere </span>
                      <span class="detail">Experience hosted on Outgrow domain [yourcompany.outgrow.co] and can be embedded on any webpage.</span>
                  </li>
                  <!-- <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Domain Hosting
                      </span>
                      <span class="feature-subtitle"><span class="half"></span>Outgrow Domain </span>
                      <span class="detail">Experiences are hosted on "yourcompany.outgrow.co"</span>
                  </li> -->
                  <li>
                      <span class="feature-title">
                          <!--<i class="material-icons plus">add</i>-->
                          Charts and Graphs
                      </span>
                      <span class="feature-subtitle"><span class="none"></span>No Access</span>
                      <!--<span class="detail"></span>-->
                  </li>
                  <!-- <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Display Customizations
                      </span>
                      <span class="feature-subtitle"><span class="half"></span>Standard Access</span>
                      <span class="detail">Use your brand logo and customize look and feel using predefined color palettes.</span>
                  </li> -->
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Custom Branding
                      </span>
                      <span class="feature-subtitle"><span class="quater"></span>Limited Access</span>
                      <span class="detail">You can add your own logo and use your brand’s colors. A small discreet Outgrow logo will appear.</span>
                  </li>
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Integrations
                      </span>
                      <span class="feature-subtitle"><span class="half"></span>Standard Integrations</span>
                      <span class="detail">You can sync user's contact information using Zapier or over 17 native integrations with tools like Marketo, Salesforce, MailChimp, Aweber, Hubspot, GetResponse, Intercom, Sendlane, Drip, Slack etc.</span>
                  </li>
                 

                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Formula and Logic Jump
                      </span>
                      <span class="feature-subtitle"><span class="quater"></span>Limited Access</span>
                      <span class="detail">You can use basic mathematical operators like +,-, x and /. Logic jump is not included.</span>
                  </li>
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Analytics and Tracking
                      </span>
                      <span class="feature-subtitle"><span class="quater"></span>Limited Access</span>
                      <span class="detail">Traffic Details, Lead Data and User Responses.</span>
                  </li>
                  <li>
                      <span class="feature-title">
                          <!-- <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i>  -->
                          Advanced Features
                      </span>
                      <span class="feature-subtitle"><span class="none"></span>No Access</span>
                      <!-- <span class="detail"></span> -->
                  </li>
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Support
                      </span>
                      <span class="feature-subtitle"><span class="quater"></span>Support Docs</span>
                      <span class="detail">You will have access to support docs.</span>
                  </li>
              </ul>
              <a href="javascript:void(0);" class="toggle-more">
                  <i class="material-icons">add</i>
                  <p class="more-info">Show more</p>
              </a>
          </div>
      </div>
      <!-- freelancer-->

      <!-- essential -->
      <div class="col-md-12 col-sm-12 col-xs-12 np pricing-block most-popular-plan">
          <!-- <span class="ribbon">Most Popular</span> -->
          <span class="label-popularPlan">Most Popular</span>
          <div class="pricing-top">
              <h3>Essentials</h3>
              <span class="annual-price">
                  <p class="strike-price">$115<sub>/mo.</sub></p>
                  <p class="price"><sup>$</sup>95<sub>/mo.</sub></p>
              </span>
              <span class="s-annual-price">
                  <p class="strike-price">$115<sub>/mo.</sub></p>
                  <p class="price"><sup>$</sup>105<sub>/mo.</sub></p>
              </span>
              <span class="monthly-price">
                  <!--<p class="strike-price"><sup>$</sup>45<sub>/mo.</sub></p>-->
                  <p class="price"><sup>$</sup>115<sub>/mo.</sub></p>
              </span>
              <span class=""><a href="//app.outgrow.co" target="_blank" class="signuplink params btn-hover">Start trial</a></span>
          </div>
          <div class="pricing-bottom">
              <ul class="features rs-hide">
                  <li>
                      <span class="feature-title">Leads & Visits</span>
                      <span class="feature-subtitle"><span class="half"></span>1000 & 20000</span>
                  </li>
                  <li>
                      <span class="feature-title">No. of Experiences</span>
                      <span class="feature-subtitle"><span class="full"></span>Unlimited</span>
                  </li>
                  <!-- <li>
                      <span class="feature-title">Collaborators</span>
                      <span class="feature-subtitle"><span class="half"></span>3</span>
                  </li> -->
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Templates and Layouts
                      </span>
                      <span class="feature-subtitle"><span class="full"></span>All Templates & Layouts </span>
                      <span class="detail">All layouts and templates are unlocked.</span>
                  </li>
                  <!-- <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Lead Generation
                      </span>
                      <span class="feature-subtitle"><span class="half"></span>Full Access </span>
                      <span class="detail">Add lead generation capabilities to any calculator or quiz.</span>
                  </li> -->
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Hosting and Embedding
                      </span>
                      <span class="feature-subtitle"><span class="half"></span>Embed Anywhere </span>
                      <span class="detail">Experience hosted on Outgrow domain [yourcompany.outgrow.co] and can be embedded on any webpage.</span>
                  </li>
                 
                  <li>
                      <span class="feature-title">
                          <!--<i class="material-icons plus">add</i>-->
                          Charts and Graphs
                      </span>
                      <span class="feature-subtitle"><span class="none"></span>No Access</span>
                      <!--<span class="detail"></span>-->
                  </li>
                  
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Custom Branding
                      </span>
                      <span class="feature-subtitle"><span class="quater"></span>Limited Access</span>
                      <span class="detail">You can add your own logo and use your brand’s colors. A small discreet Outgrow logo will appear.</span>
                  </li>
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Integrations
                      </span>
                      <span class="feature-subtitle"><span class="half"></span>Standard Integrations</span>
                      <span class="detail">You can sync user's contact information using Zapier or over 17 native integrations with tools like Marketo, Salesforce, MailChimp, Aweber, Hubspot, GetResponse, Intercom, Sendlane, Drip, Slack etc. </span>
                  </li>
                 
                 
                 
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Formula and Logic Jump
                      </span>
                      <span class="feature-subtitle"><span class="full"></span>Full Access</span>
                      <span class="detail">You can use any mathematical (^, log etc) or logical (if then, average etc) operator as well as use visual logic jump [branching logic] to improve personalization.</span>
                  </li>
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Analytics and Tracking
                      </span>
                      <span class="feature-subtitle"><span class="half"></span>Standard Access</span>
                      <span class="detail">Traffic Details, Lead Data and User Responses. Can add Facebook and Google Analytics tracking codes.</span>
                  </li>
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Advanced Features
                      </span>
                      <span class="feature-subtitle"><span class="quater"></span>Limited Access</span>
                       <span class="detail">Access to conditional messaging.</span> 
                  </li>
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Support
                      </span>
                      <span class="feature-subtitle"><span class="half"></span>Basic</span>
                      <span class="detail">You will have access to support docs as well as email support. We will try to answer all queries within 24-48 hours.</span>
                  </li>
              </ul>
              <a href="javascript:void(0);" class="toggle-more">
                  <i class="material-icons">add</i>
                  <p class="more-info">Show more</p>
              </a>
          </div>
      </div>
      <!-- essential-->

      <!-- business -->
      <div class="col-md-12 col-sm-12 col-xs-12 np pricing-block">
          <div class="pricing-top">
              <h3>Business</h3>
              <span class="annual-price">
                  <p class="strike-price">$720<sub>/mo.</sub></p>
                  <p class="price"><sup>$</sup>600<sub>/mo.</sub></p>
              </span>
              <span class="s-annual-price">
                  <p class="strike-price">$720<sub>/mo.</sub></p>
                  <p class="price"><sup>$</sup>667<sub>/mo.</sub></p>
              </span>
              <span class="monthly-price">
                  <!--<p class="strike-price"><sup>$</sup>45<sub>/mo.</sub></p>-->
                  <p class="price"><sup>$</sup>720<sub>/mo.</sub></p>
              </span>
              <span class="">
                  <a href="//app.outgrow.co" target="_blank" class="signuplink params btn-hover">Start trial</a>
                  <a href="javascript:void(0);" target="_blank" class="link-contact intercom_trigger" id="intercom_trigger">Contact us</a>
              </span>
          </div>
          <div class="pricing-bottom">
              <ul class="features rs-hide">
                  <li>
                      <span class="feature-title">Leads & Visits</span>
                      <span class="feature-subtitle"><span class="full"></span>15000 & 300000</span>
                  </li>
                  <li>
                      <span class="feature-title">No. of Experiences</span>
                      <span class="feature-subtitle"><span class="full"></span>Unlimited</span>
                  </li>
                  <!-- <li>
                      <span class="feature-title">Collaborators</span>
                      <span class="feature-subtitle"><span class="full"></span>10</span>
                  </li> -->
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Templates and Layouts
                      </span>
                      <span class="feature-subtitle"><span class="full"></span>All Templates & Layouts </span>
                      <span class="detail">All layouts and templates are unlocked.</span>
                  </li>
                  
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Hosting and Embedding
                      </span>
                      <span class="feature-subtitle"><span class="full"></span>Custom Domain </span>
                      <span class="detail">Experience hosted on your company domain [yourcompany.com] and can be embedded on any webpage.</span>
                  </li>
                 
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Charts and Graphs
                      </span>
                      <span class="feature-subtitle"><span class="full"></span>Full Access</span>
                      <span class="detail">Increase interactivity by adding charts, graphs and tables to your experiences.</span>
                  </li>
                  
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Custom Branding
                      </span>
                      <span class="feature-subtitle"><span class="full"></span>Full Access</span>
                      <span class="detail">You can add your own logo and use your brand’s colors. You can also remove the Outgrow Logo.</span>
                  </li>
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Integrations
                      </span>
                      <span class="feature-subtitle"><span class="full"></span>Advanced Integrations</span>
                      <span class="detail">Send all lead data using direct integrations, Zapier as well as Webhooks and our highly versatile API. </span>
                  </li>
                  

                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Formula and Logic Jump
                      </span>
                      <span class="feature-subtitle"><span class="full"></span>Full Access</span>
                      <span class="detail">You can use any mathematical (^, log etc) or logical (if then, average etc) operator as well as use visual logic jump [branching logic] to improve personalization.</span>
                  </li>
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Analytics and Tracking
                      </span>
                      <span class="feature-subtitle"><span class="full"></span>Advanced Access</span>
                      <span class="detail">Traffic Details, Lead Data, User Responses & Funnel Visualization. Can add all tracking codes.</span>
                  </li>
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Advanced Features
                      </span>
                      <span class="feature-subtitle"><span class="full"></span>Advanced Access</span>
                       <span class="detail">Access to conditional messaging, email embeds, email validation, custom HTML/CSS/JS and custom notifications.</span> 
                  </li>
                  <li class="expand-rs">
                      <span class="feature-title">
                          <i class="material-icons plus">add</i>
                          <i class="material-icons minus">remove</i> 
                          Support
                      </span>
                      <span class="feature-subtitle"><span class="full"></span>Priority</span>
                      <span class="detail">You will have access to support docs, email support as well as live chat.</span>
                  </li>
              </ul>
              <a href="javascript:void(0);" class="toggle-more">
                  <i class="material-icons">add</i>
                  <p class="more-info">Show more</p>
              </a>
          </div>
      </div>
      <!-- business-->

  <!-- end: for responsive -->
</div>
<!--Pricing ending-->
  <!-- Include prices and plans --> 
  <app-pricing-plans></app-pricing-plans>
  <app-pricing-faq></app-pricing-faq>