<div class="row example_heading">
  <div class="row">
    <p></p>
  </div>
  <div class="row">

    <div class="col-md-12 thumbnail">
      Outgrow In Practice

      <div class="caption" style="font-size:18px">
        Get inspired by some of our most successful calculators & quizzes!
      </div>
    </div>

  </div>


</div>

<br>
<br>
<div class="container">
  <div class="row" style="height:650px">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
      <iframe style="width:100%;height:600px">
        <p>Your browser does not support iframes.</p>
      </iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-11">
      <!-- <div class="col-lg-2" style="display:inline;" *ngFor="let img of  imgList">
        <a >
          <img [src]="img.url" id="calcimg" />
        </a>
      </div> -->
      <div class="col-lg-2" style="display:inline;">
        <a href="#">
          <img src="assets/images/calc06.jpg" id="calcimg" />
        </a>
      </div>
      <div class="col-lg-2" style="display:inline;">
        <a href="#">
          <img src="assets/images/calc01.jpg" id="calcimg" />
        </a>
      </div>
      <div class="col-lg-2" style="display:inline;">
        <a href="#">
          <img src="assets/images/calc02.jpg" id="calcimg" />
        </a>
      </div>
      <div class="col-lg-2" style="display:inline;">
        <a href="#">
          <img src="assets/images/calc03.jpg" id="calcimg" />
        </a>
      </div>
      <div class="col-lg-2" style="display:inline;">
        <a href="#">
          <img src="assets/images/calc04.jpg" id="calcimg" />
        </a>
      </div>
      <div class="col-lg-2" style="display:inline;">
        <a href="#">
          <img src="assets/images/calc05.jpg" id="calcimg" />
        </a>
      </div>
    </div>

  </div>

  <br>
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-5">
      <img src="assets/images/xl.png" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p style="font-size:40px;color:black;font-family:Sans-serif">Generate interactive content ideas for your company using our </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-6">
      <p style="font-size:40px;color:black;font-family:Sans-serif">idea Worksheet</p>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">

      <a href="https://docs.google.com/spreadsheets/d/1nIktXeookbo_V9dmHPBR4Zmk9ToYX7PODIoQbOV7RFM/edit#gid=1175659431" class="btn"
        id="exbutton">Download Excel Idea Generator Sheet</a>

    </div>
  </div>
</div>
<br>
<div style="background-image: url('assets/images/startfree.jpg');width: auto; height: 190px;text-align:center;font-family: montserratlight - 400;display:block;padding-top:50px">
  <button type="button" class="foobutton">BUILD YOUR INTERACTIVE EXPERIENCE</button>
 </div>