<!-- <link rel="stylesheet" href="assets/css/animations.css">
<link rel="stylesheet" href="assets/css/custom-sa.css">
<link rel="stylesheet" href="assets/css/sahil-hover.css">
<link rel="stylesheet" href="assets/css/home-responsive.css">
<link rel="stylesheet" href="assets/css/useCase.css">
<link rel="stylesheet" href="assets/css/animated-masonry-gallery.css" type="text/css" />
<link rel="stylesheet" href="assets/css/useCase-responsive.css"> -->
<div class="usecase" id="">
    <br><br><br><br>
    <!--  top section-->
    <div class="section-main sec-example">
        <!-- <section class="section section-5 sec-outgrowMagic-title">
            <div class="container mobile-container">
                <div class="section-2-heading mk-animate-element scale-up fnt-chnge uppercase">
                    Outgrow In Practice
                </div>
                <h5 class="section-2-subheading mk-animate-element scale-up">
                    Get inspired by some of our most successful calculators & quizzes!
                </h5>
            </div>
        </section> -->

        <section class="section section-5 sec-outgrowMagic">
            <div class="container-fluid np">
                <div class="col-xs-12 col-sm-12 col-md-12 np">
                    <!--<div id="sticky-anchor"></div>-->
                    <div class="tab-outer-frame col-xs-12 col-md-10 col-sm-12 text-center">
                        <!--<span class="icon-webcam"></span>-->
                        <div class="hrefTarget tab-inner-frame col-xs-12 col-md-12 col-sm-12">
                            <iframe id="og-iframe" src="https://website.outgrow.us/build-a-startup?vHeight=1" style="min-height: 635px;" #frame></iframe>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-sm-12 mobile-container rs-hide calc-links text-center">
                    <a href="javascript:void(0);" [ngClass]="{'active': isActive0}" (click)="videoURL('a',frame)" >
                        
                        <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc06.jpg" />
                    </a>
                    <a href="javascript:void(0);"  [ngClass]="{'active': isActive1}"  (click)="videoURL('b',frame)">
                            
                        <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc01.jpg" />
                    </a>
                    <a href="javascript:void(0);" [ngClass]="{'active': isActive2}"  (click)="videoURL('c',frame)">
                            
                        <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc02.jpg" />
                    </a>
                    <a href="javascript:void(0);" [ngClass]="{'active': isActive3}"  (click)="videoURL('d',frame)">
                            
                        <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc03.jpg" />
                    </a>
                    <a href="javascript:void(0);" [ngClass]="{'active': isActive4}"  (click)="videoURL('e',frame)">
                            
                        <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc04.jpg" />
                    </a>
                    <a href="javascript:void(0);" [ngClass]="{'active': isActive5}"  (click)="videoURL('f',frame)">
                            
                        <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc05.jpg" />
                    </a>
                </div>

                <div class="col-xs-12 col-md-12 col-sm-12 section-6-left mobile-container rs-show text-center">
                    <div class="col-md-12 col-sm-12 col-xs-12 np calc-links">
                        <a href="https://website.outgrow.us/build-a-startup?vHeight=1" [ngClass]="{'active': isActive0}" (click)="videoURL('a',frame)" class="col-sm-4 np calcembed active" target="_blank">
                            <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc06.jpg" />
                        </a>
                        <a href="https://website.outgrow.us/Which-engineering-major-is-right-for-you?vHeight=1" [ngClass]="{'active': isActive1}" (click)="videoURL('b',frame)" class="col-sm-4 np calcembed" target="_blank">
                            <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc01.jpg" />
                        </a>
                        <a href="https://website.outgrow.us/Cost-of-a-video-campaign-4?vHeight=1" [ngClass]="{'active': isActive2}" (click)="videoURL('c',frame)" class="col-sm-4 np calcembed" target="_blank">
                            <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc02.jpg" />
                        </a>
                        <a href="https://website.outgrow.us/What-is-your-risk-of-getting-a-heart-disease?vHeight=1" [ngClass]="{'active': isActive3}" (click)="videoURL('d',frame)" class="col-sm-4 np calcembed" target="_blank">
                            <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc03.jpg" />
                        </a>
                        <a href="https://website.outgrow.us/outgrow-roi?vHeight=1" [ngClass]="{'active': isActive4}" (click)="videoURL('e',frame)" class="col-sm-4 np calcembed" target="_blank">
                            <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc04.jpg" />
                        </a>
                        <a href="https://website.outgrow.us/build-an-app" [ngClass]="{'active': isActive5}" (click)="videoURL('f',frame)" class="col-sm-4 np calcembed" target="_blank">
                            <img alt="Calculator thumb image" class="thumb-calc" src="https://dzvexx2x036l1.cloudfront.net/calc05.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Start Trial CTA-->
    <!--<section class="section start-trial-cta">
		<div class="container-fluid np">
			<div class="col-md-12 col-sm-12 col-xs-12 np">
				<div class="bg2-img">
					<h3>Generate Ideas</h3>
					<a href="/idea-generation?get-started" class="params trialLOL">
						<button onclick="callGA(\'CANNOT WAIT CTA\')" class="btn-buildcal">
						<img src="" data-src="https://dzvexx2x036l1.cloudfront.net/icon-mouse.png"> &nbsp;Get Started</button>
					</a>
				</div>
			</div>
		</div>
	</section> -->

    <div class="col-md-12 col-sm-12 col-xs-12 text-center np case-breathers">
        <div class="container custom-container mobile-container">
            <div class="case-breathers-leftSide">
                <img src="assets/images/example-breather-img.png" class="uni1">
            </div>
            <div class="case-breathers-rightSide">
                <h1 class="heading">Generate interactive content ideas for your company using our idea worksheet</h1>
                <a href="https://docs.google.com/spreadsheets/d/1nIktXeookbo_V9dmHPBR4Zmk9ToYX7PODIoQbOV7RFM/edit#gid=1175659431" target="_blank"
                    class="btn btn-download btn-hover">Download Excel Idea Generator Sheet
                    <i class="material-icons">arrow_forward</i>
                </a>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div id="premade-heading" class="useCase-heading"  [ngClass]="{'hide': isHeadingHide}" (click)="hide('heading')">
                {{hiddenHeading}}
            </div>
        </div>
    </section>
    <!--  section end-->

  

    <!-- start: example calc -->

    <section class="section example-calc">
        <!-- <div id="premade-loader" class="preloader">
            <div class="status">&nbsp;</div>
        </div> -->
        <div id="premade-content" class="tab-section "  [ngClass]="{'hide': isHideContent}" >
            <div class="container-fluid">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs premade-calc" role="tablist">
                    <li role="presentation" class="tab-title active">
                        <a id="Calculator" href="#numeric-calc" aria-controls="numeric-calc" class="res-tab" role="tab" data-toggle="tab" (click)="changeTab('Calculator')">
                            Numerical Calculator
                        </a>
                    </li>
                    <li role="presentation" class="tab-title">
                        <a id="OutcomeQuiz" href="#outcome-quiz" aria-controls="outcome-quiz" role="tab" data-toggle="tab" (click)="changeTab('OutcomeQuiz')">
                            Outcome Quiz
                        </a>
                    </li>
                    <li role="presentation" class="tab-title">
                        <a id="GradedQuiz" href="#graded-quiz" aria-controls="graded-quiz" role="tab" data-toggle="tab" (click)="changeTab('GradedQuiz')">
                            Graded Quiz
                        </a>
                    </li>
                    <li role="presentation" class="tab-title">
                        <a id="Poll" href="#outcome-quiz" aria-controls="poll" role="tab" data-toggle="tab" (click)="changeTab('Poll')">
                            Poll
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content usecase">
                    <div role="tabpanel" class="tab-pane active" id="numeric-calc">
                        <div class="col-md-12 col-sm-12 col-xs-12 new-cards-section pre-card">
                            <!-- <div class="preloader">
								<div class="status">&nbsp;</div>
							</div> -->
                            <div class="premade-template">
                                <ul class="pre-temp-cat" id="calc-cats">
                                    
                                    <li class="" *ngFor="let item of items; let i=index"  [class.active]="sIndex === i">
                                    <!-- <li [ngClass]="{'active': s}" *ngFor="let item of items; let i=index;let s = false;"> -->
                                    <a href="javascript:void(0)" id="{{item.id}}" (click)="shuffleCalcs(item.id,i);">{{item.name}}</a>
                                    </li>
                                    
                                </ul>

                                <div class="pre-temp-cont">
                                    <ul class="pre-temp-list" id="gallery-content-center">

                                        <li class=" filter-all filter-auto" id="calc-auto-loan" *ngFor="let item of headingDescription; let ind=index" [class.active]="sIndex1 === ind">
                                            <a href="javascript:void(0)" (click)="markAsActive(ind)">{{item}} </a>
                                        </li>
                                        
                                    </ul>

                                    <div class="pre-temp-view">
                                        <div class="temp-preview" *ngFor="let gif of gifs">
                                            <span class="image-bg1">
                                                <span class="image-scroll1">
                                                    <img id="premade-gif" src={{gif.url}} />
                                                </span>
                                            </span>
                                            <div class="content temp-info">
                                                <h3>
                                                    <p id="premade-calc-name">
                                                        <i class="material-icons">&#xE80E;</i>
                                                        {{gif.title}}
                                                    </p>
                                                    <span id="premade-calc-layout">
                                                        <strong>Layout:</strong>
                                                        {{gif.description}}
                                                    </span>
                                                </h3>
                                                <a id="premade-preview-link" class="btn btn-red btn-hover" target="_blank" href={{gif.hRef}}>Preview</a>
                                                <a class="btn btn-red btn-hover" href="//app.outgrow.co/signup">Build your own</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: example calc -->

    <!-- Start Trial CTA-->
    <section class="section start-trial-cta mb0">
        <div class="container-fluid np">
            <div class="col-md-12 col-sm-12 col-xs-12 np">
                <div class="bg1-img">
                    <a href="//app.outgrow.co" id="trialAnchor">
                        <button class="btn-buildcal mk-animate-element left-to-right mk-in-viewport full-visible ripple">
                            <i class="material-icons">view_compact</i>
                            <p>Build Your interactive experience</p>
                        </button>
                    </a>
                    <!-- <label>No Credit Card Required</label> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Start: Modal calcEmbed1 -->
    <div id="calcEmbed-modal1" class="modal fade calcEmbed-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-video">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <div class="col-md-12 np">
                        <iframe class="og-iframe-res" src="" data-calc="https://website.outgrow.us/Which-engineering-major-is-right-for-you?vHeight=1"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Modal calcEmbed1 -->

    <!-- Start: Modal calcEmbed2 -->
    <div id="calcEmbed-modal2" class="modal fade calcEmbed-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-video">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <div class="col-md-12 np">
                        <iframe class="og-iframe-res" src="" data-calc="https://website.outgrow.us/Cost-of-a-video-campaign-4?vHeight=1" ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Modal calcEmbed2 -->

    <!-- Start: Modal calcEmbed3 -->
    <div id="calcEmbed-modal3" class="modal fade calcEmbed-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-video">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <div class="col-md-12 np">
                        <iframe class="og-iframe-res" src="" data-calc="https://website.outgrow.us/What-is-your-risk-of-getting-a-heart-disease?vHeight=1"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Modal calcEmbed3 -->
<!-- <app-footer></app-footer> -->
  
   
</div>
